<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/vnd.icon" href="/images/cercle.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Ajoutez les liens vers les fichiers CSS Bootstrap ici -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/accueil.css" rel="stylesheet" />
  <!-- Ajoutez les liens vers les fichiers JavaScript Bootstrap et jQuery ici -->
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <title>Accueil Super Admin</title>
  <style>
    #profil_apprenti {
      background-color: #72bb53;
      border-radius: 10px;
      color: black;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .profil.selected {
      border: 5px solid #72bb53;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
      max-width: 100%;
      /* Set maximum width to 100% */
      max-height: 210px;
      /* Set maximum height to your desired value */
      object-fit: cover;
      /* Ensure the image covers the specified dimensions */
    }
  </style>

</head>

<body>
  <div th:replace="fragments/header :: header"></div>


  <form class="d-flex align-items-center">
    <input class="form-control me-2" type="search" placeholder="Rechercher un apprenti" aria-label="Search"
      id="searchInput">
  </form>
  <div id="noResultsMessage" style="display: none; color: red; margin-top: 10px;">
    Aucun résultat trouvé.
  </div>
  <br>
  <div class="col-12 d-flex justify-content-center">
  <div th:if="${success}" class="alert alert-success d-flex align-items-center" role="alert">
    <div>
      [[${success}]]
    </div>
  </div>
  </div>


  <!-- Ajout de l'image cliquable et du texte "Ajouter un apprenti" -->
  <div class="ajouter text-center d-flex flex-column align-items-center mt-5">
    <a href="utilisateur/nouveau" class="d-flex align-items-center">
      <img src="/images/logo_plus.png" alt="Ajouter un utilisateur"
        style="cursor: pointer; width: 100px; height: 100px; margin-right: 5px;" />
      <p style="margin: 0;">Ajouter un utilisateur</p>
    </a>
    <div id="voir_profil_container" style="display: none; margin-top: 10px;">
      <button id="profil_apprenti">Voir son profil</button>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Iteration sur chaque utilisateur -->
      <div th:each="utilisateur : ${utilisateurs}" class="profil" th:data-id="${utilisateur.id}">
        <div th:classappend="${utilisateur.archive} ? 'card profil archived' : 'card profil'">
          <div th:if="${utilisateur.photoBase64 != null and not #strings.isEmpty(utilisateur.photoBase64)}">
            <img class="card-img-top" th:src="${utilisateur.photoBase64}" alt="Photo de profil" />
          </div>
          <div th:if="${utilisateur.photoBase64 == null or #strings.isEmpty(utilisateur.photoBase64)}">
            <img class="card-img-top" src="/images/icone_profil.png" alt="Photo de profil par défaut" />
          </div>
          <div class="card-body">
            <h5 class="card-title nom" th:text="${utilisateur.nom}">Nom de l'utilisateur</h5>
            <p class="card-text prenom" th:text="${utilisateur.prenom}">Prénom de l'utilisateur</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container"></div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const profils = document.querySelectorAll(".profil");
      const searchInput = document.getElementById("searchInput");
      const voirProfilContainer = document.getElementById("voir_profil_container");
      const noResultsMessage = document.getElementById("noResultsMessage");

      let selectedProfile = null;

      function selectProfile(profile) {
        if (selectedProfile === profile) {
          deselectProfile();
        } else {
          if (selectedProfile) {
            selectedProfile.classList.remove("selected");
          }
          profile.classList.add("selected");
          selectedProfile = profile;
          voirProfilContainer.style.display = "block";
          window.scrollTo({
            top: 0,
            behavior: "smooth"
          });
        }
      }

      function deselectProfile() {
        if (selectedProfile) {
          selectedProfile.classList.remove("selected");
          selectedProfile = null;
          voirProfilContainer.style.display = "none";
        }
      }

      function searchProfiles() {
        const searchTerms = searchInput.value.toLowerCase().split(" ");
        let hasResults = false;

        profils.forEach((profile) => {
          const nom = profile.querySelector(".nom").innerText.toLowerCase();
          const prenom = profile.querySelector(".prenom").innerText.toLowerCase();

          const isVisible = searchTerms.every(term => nom.includes(term) || prenom.includes(term));

          if (isVisible) {
            hasResults = true;
          }

          profile.style.display = isVisible ? "block" : "none";
        });

        deselectProfile();

        // Afficher le message d'erreur si aucun résultat n'est trouvé
        noResultsMessage.style.display = hasResults ? "none" : "block";
      }

      profils.forEach((profile) => {
        profile.addEventListener("click", (event) => {
          selectProfile(profile);
        });
      });

      searchInput.addEventListener("input", () => {
        searchProfiles();
      });


      const voirProfilButton = document.getElementById("profil_apprenti");

      voirProfilButton.addEventListener("click", () => {
        if (selectedProfile) {
          const userId = selectedProfile.getAttribute("data-id");
          window.location.href = "profil_apprenti/" + userId;
        }
      });

      document.addEventListener("click", (event) => {
        const isProfile = event.target.closest(".profil");
        if (!isProfile) {
          deselectProfile();
        }
      });

    });
  </script>
</body>

</html>