<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Materiaux</title>
    <link rel="icon" type="image/vnd.icon" href="/images/cercle.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <style>
        .max-width-10vh img {
            max-width: 10vh;
        }

        .success {
            color: green;
            font-size: 1.5em;
        }

        .error {
            color: red;
            font-size: 1.5em;
        }
    </style>
</head>

<body>

    <div th:replace="fragments/header :: header"></div>


    <div class="container mt-5">

        <h1 class="display-1">Liste des icônes</h1>

        <!-- afficher les messages de succès ou d'erreur -->
        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>

        <!-- Champs de recherche -->
        <div class="row mb-3">
            <div class="col-md-4">
                <input type="text" id="searchImage" name="searchImage" class="form-control" placeholder="Nom de l'image"
                    oninput="searchImage()">
            </div>
            <div class="col-md-4">
                <select id="typeDropdown" name="typeDropdown" class="form-control" onchange="searchImageByType()"
                    title="Type d'image">
                    <option value="">Type d'image</option>
                    <th:block
                        th:each="type : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.ImagesTitres$TypeImage).values()}">
                        <option th:value="${type}" th:text="${type}"></option>
                    </th:block>
                </select>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-outline-primary"
                    onclick="window.location.href='/imagestitres/ajouter'">Ajouter une image</button>
            </div>
        </div>

        <table class="table table-responsive table-bordered table-hover" id="myTable">
            <thead class="thead-dark">
                <tr>
                    <th onclick="sortTable(0)">Nom de l'image
                        <span id="sortIcon" class="fa fa-sort"></span>
                    </th>
                    <th>Image</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="imageTableBody">
                <tr th:each="image : ${allImages}">
                    <td th:text="${image.nomImage}"></td>
                    <td class="max-width-10vh">
                        <img th:src="@{'/' + ${image.imageUrl}}" alt="Image" id="imageDetails_${image.id}"
                            th:attr="data-nomImage=${image.nomImage}, data-imageUrl=${image.imageUrl}" />
                    </td>
                    <td th:text="${image.typeImage}"></td>
                    <td>
                        <a th:href="@{/imagestitres/modifier/{id}(id=${image.id})}"
                            class="btn btn-sm btn-outline-secondary">Modifier</a>
                        <a th:href="@{/imagestitres/supprimer/{id}(id=${image.id})}"
                            class="btn btn-sm btn-outline-danger">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <script>

            function searchImage() {
                var searchValue = document.getElementById('searchImage').value.toLowerCase();
                var imageRows = document.getElementById('imageTableBody').getElementsByTagName('tr');

                for (var i = 0; i < imageRows.length; i++) {
                    var imageName = imageRows[i].getElementsByTagName('td')[0].innerText.toLowerCase();

                    if (imageName.includes(searchValue)) {
                        imageRows[i].style.display = '';
                    } else {
                        imageRows[i].style.display = 'none';
                    }
                }
            }

            function searchImageByType() {
                var selectedType = document.getElementById('typeDropdown').value.toLowerCase();
                var imageRows = document.getElementById('imageTableBody').getElementsByTagName('tr');

                for (var i = 0; i < imageRows.length; i++) {
                    var imageType = imageRows[i].getElementsByTagName('td')[2].innerText.toLowerCase();

                    if (selectedType === '' || imageType === selectedType) {
                        imageRows[i].style.display = '';
                    } else {
                        imageRows[i].style.display = 'none';
                    }
                }
            }
            function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("myTable");
                switching = true;
                // Set the sorting direction to ascending:
                dir = "asc";
                /* Make a loop that will continue until
                no switching has been done: */
                while (switching) {
                    // Start by saying: no switching is done:
                    switching = false;
                    rows = table.rows;
                    /* Loop through all table rows (except the
                    first, which contains table headers): */
                    for (i = 1; i < (rows.length - 1); i++) {
                        // Start by saying there should be no switching:
                        shouldSwitch = false;
                        /* Get the two elements you want to compare,
                        one from current row and one from the next: */
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /* Check if the two rows should switch place,
                        based on the direction, asc or desc: */
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        /* If a switch has been marked, make the switch
                        and mark that a switch has been done: */
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        // Each time a switch is done, increase this count by 1:
                        switchcount++;
                    } else {
                        /* If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again. */
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
                // Change the sort icon
                var icon = document.getElementById("sortIcon");
                if (dir == "asc") {
                    icon.className = "fa fa-sort-asc";
                } else {
                    icon.className = "fa fa-sort-desc";
                }
            }

        </script>
    </div>
</body>

</html>