<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-color"
    style="background-color: #bbdefb;">
    <a href="accueil_admin"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <img src="/images/apeaj.png" width="50" height="50" class="img-fluid">
        <div th:if="${currentUserName}" class="user-info">
            <span th:text="${currentUserName}"></span>

        </div>
    </a>
    <ul class="nav nav-pills">

        <li class="nav-item">
            <a href="/accueil_admin"
                th:class="${currentUrl == '/accueil_admin' || currentUrl == '/accueil_superadmin'} ? 'nav-link active text-white fs-5' : 'nav-link text-black fs-5'"
                aria-current="page">Accueil</a>
        </li>



        <li class="nav-item"
            th:if="${currentUserRole == 'EDUCSIMPLE' || currentUserRole == 'CIP' || currentUserRole == 'ADMIN'}">
            <a href="/fiche/liste_fiche"
                th:class="${currentUrl == '/fiche/liste_fiche'} ? 'nav-link active text-white fs-5' : 'nav-link text-black fs-5'">Voir
                les fiches</a>
        </li>

        <li class="nav-item" th:if="${currentUserRole == 'SUPERADMIN'}">
            <a href="/formation/list"
                th:class="${currentUrl == '/formation/list'} ? 'nav-link active text-white fs-5' : 'nav-link text-black fs-5'"
                aria-current="page">Formations</a>
        </li>

        <li class="nav-item" th:if="${currentUserRole == 'EDUCSIMPLE' || currentUserRole == 'ADMIN'}">
            <a href="/session/creer"
                th:class="${currentUrl == '/session/creer'} ? 'nav-link active text-white fs-5' : 'nav-link text-black fs-5'">Créer
                une session</a>
        </li>
        <li class="nav-item"><a
                href="https://docs.google.com/document/d/1cM7t6f-XGID3lx3FNxVUTaXQoAhsjzOmj6h0Pt1NRiM/edit?usp=sharing"
                class="nav-link text-black fs-5">Aide</a></li>
                <li class="nav-item">
                    <form th:action="@{/log_out}" method="post" class="d-inline">
                        <!-- Ajoutez le jeton CSRF si nécessaire -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <a href="#" onclick="this.closest('form').submit()" class="nav-link text-black fs-5">Se déconnecter</a>
                    </form>
                </li>


    </ul>
</header>

</html>