body {
    background-color: #e3e3e3;
    font-family: 'Roboto', sans-serif;
}

input[type='radio'] {
    accent-color: #f20000;
}

.sticky-btn {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}

.submit-container {
    position: relative;
    z-index: 1001;
    /* Adjust the z-index value as needed to ensure it's above the material selection buttons */

}

.cardimage {
    margin: 2vh;
}

.images-selector {
    display: none;
    height: fit-content;
    max-height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    overflow: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 85vw;
    margin: 0 auto;
    border-radius: 3%;
}

.img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer verticalement */
    text-align: center;
}

.imageListe {
    max-height: 20vh;
    max-width: 20vw;
    height: 100%;
    object-fit: contain;
}

.img-card input {
    grid-row: 3;
}



#selected-image-label {
    margin-top: auto;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}

.materiaux_vertical {
    display: block;
}

.submit {
    background-color: #6657A6;
}

/* Sélecteur pour tous les boutons radio dans le formulaire */
input[type="radio"] {
    max-width: 30%;
    width: 30%;
    font-family: 'Roboto', sans-serif;
}

.shrink {
    flex-shrink: 0;
}

.submit {
    width: 100%;
    background-color: #82de7f;
    color: #000000;
    border: none;
    border-radius: 12px;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

div,
header,
footer,
body,
main,
nav,
section,
form {
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.test {
    padding: 3px;
    color: rgb(255, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.colonne,
form {
    flex-direction: column;
}

.colonne1 {
    flex-direction: row;
}

.colonne1_droite {
    height: auto;
}
.colonne1_gauche {
    height: auto;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #69bafb;
    font-family: 'Roboto', sans-serif;
}

.titre,
label {
    color: #000;
}

.listeCheckbox {
    justify-content: start;
}

.centre {
    justify-content: center;
    align-items: center;
    text-align: center;
}


.max-width-container {
    display: flex;
}

.max-width-select {
    margin-right: 10px;
    /* Ajustez la marge selon vos besoins */

}

.ligneSelectMateriaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ligneMateriaux {
    flex: 0 0 48%;
    margin-bottom: 1em;
    display: flex;
}


.logo{
    height: 2em;
}

.prerempli{
    background-color: #ffbf91;
}
.espaceHor {
    flex: none;
    height: 1.5em;
}

main {
    width: 75vw;
}

.border,
fieldset {
    border-radius: 12px;
    border: 3px solid #69bafb;
    padding: 1.2em;
    height: 100%;
}

input,
select,
textarea {
    width: 100%;
}

.demi {
    flex: 0.5;
}

.check {
    flex: 0.1;
}

.droite {
    justify-content: start;
}

@media screen and (max-width: 1400px) {
    main {
        width: 90%;
    }

    .colonnePrint {
        flex-direction: column;
    }

    .espaceHor {
        height: 1em;
    }

    fieldset {
        /* padding: 0.1em 0;*/
    }

    .demi {
        flex: 0.3;
    }

    .border {
        padding: 0.8em;
    }

    div,
    input,
    select {
        font-size: 1em;
    }
}

@media print {
    main {
        width: 100%;
    }

    .colonnePrint {
        flex-direction: column;
    }

    .espaceHor {
        height: 0.5em;
    }

    fieldset {
        padding: 0.1em 0;
    }

    .noPrint {
        display: none;
    }

    .demi {
        flex: 0.25;
    }

    .border {
        padding: 0.1em;
    }

    div,
    input,
    select {
        font-size: 0.8em;
    }
}