body {
    background-color: #2b2d42;
}

/* Sélecteur pour tous les boutons radio dans le formulaire */
input[type="radio"] {
    width: 10%;
}

.submit {
    width: 100%;
    background-color: #ff7474;
    color: #2b2d42;
    border: none;
    border-radius: 12px;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

div,
header,
footer,
body,
main,
nav,
section,
form {
    display: flex;
    flex: 1;
    justify-content: center;
}

.test {
    padding: 3px;
    color: rgb(255, 255, 255);
}

.colonne,
form {
    flex-direction: column;
}

legend,
.titre,
label {
    color: #ff7474;
}

.listeCheckbox {
    justify-content: start;
}

.centre {
    justify-content: center;
    align-items: center;
    text-align: center;
}


.max-width-container {
    display: flex;
}

.max-width-select {
    margin-right: 10px; /* Ajustez la marge selon vos besoins */
    
}

.ligneSelectMateriaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ligneMateriaux {
    flex: 0 0 48%; /* Two items per line with a little space in between */
    margin-bottom: 1em; /* Adjust margin as needed */
    display: flex;
}




.espaceHor {
    flex: none;
    height: 1.5em;
}

main {
    width: 75vw;
}

.border,
fieldset {
    border-radius: 12px;
    border: 3px solid #a3cef1;
    padding: 2em;
    height: 100%;
}

input,
select,
textarea {
    width: 100%;
}

.demi {
    flex: 0.5;
}

.check {
    flex: 0.1;
}

.droite {
    justify-content: start;
}

@media screen and (max-width: 1400px) {
    main {
        width: 90%;
    }

    .colonnePrint {
        flex-direction: column;
    }

    .espaceHor {
        height: 1em;
    }

    fieldset {
       /* padding: 0.1em 0;*/
    }

    .demi {
        flex: 0.3;
    }

    .border {
        padding: 0.8em;
    }

    div,
    input,
    select {
        font-size: 1em;
    }
}

@media print {
    main {
        width: 100%;
    }

    .colonnePrint {
        flex-direction: column;
    }

    .espaceHor {
        height: 0.5em;
    }

    fieldset {
        padding: 0.1em 0;
    }

    .noPrint {
        display: none;
    }

    .demi {
        flex: 0.25;
    }

    .border {
        padding: 0.1em;
    }

    div,
    input,
    select {
        font-size: 0.8em;
    }
}
