<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="icon" type="image/vnd.icon" href="/images/apeaj.ico">
    <!-- Ajoutez les liens vers les fichiers CSS Bootstrap ici -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/accueil.css" rel="stylesheet">
    <!-- Ajoutez les liens vers les fichiers JavaScript Bootstrap et jQuery ici -->
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <!-- Barre de navigation Bootstrap -->
    <nav class="navbar bg-body-tertiary">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Bouton gauche pour le mot de passe oublié -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalMdpOublie">
                <img src="/images/mdp_oublie.png" alt="Mot de Passe Oublié?" width="50" height="50">
            </button>

            <!-- Logo accueil au centre -->
            <a class="navbar-brand mx-auto" href="/">
                <img src="/images/accueil.png" alt="Accueil" width="50" height="50">
            </a>

            <!-- Bouton droit pour l'admin -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalConnexionAdmin">
                <img src="/images/admin.png" alt="Connexion Admin" width="50" height="50">
                Admin
            </button>
        </div>
    </nav>

    <span id="message" th:text="${currentUserRole}"></span>

    <div class="modal fade" id="modalMdpOublie" tabindex="-1" aria-labelledby="modalMdpOublieLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMdpOublieLabel">Réinitialisation du mot de passe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <p>Demander de l'aide à un formateur <img type="button" src="/images/son.png" alt="Lire le nom"
                            onclick="lireTexte('Demander de l\'aide à un formateur')" style="width: 20px;"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConnexionAdmin" tabindex="-1" aria-labelledby="modalConnexionAdminLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConnexionAdminLabel">Connexion Admin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <form id="adminLoginForm" th:action="@{/login}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="mb-3">
                            <label for="adminUsername" class="form-label">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="adminUsername" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="adminPassword" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="adminPassword" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Se Connecter</button>
                        <button type="button" class="btn btn-secondary" data-bs-container="body"
                            data-bs-toggle="popover" data-bs-placement="bottom"
                            data-bs-content="Demander de l'aide au SUPERADMIN">
                            Mot de Passe Oublié ?
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <!-- Message d'erreur -->
                    <div th:if="${param.error}" class="alert alert-danger d-flex align-items-center" role="alert">
                        <img src="/images/alert.png" alt="Mauvais Mot de Passe" width="30" height="30" class="me-3">
                        <div>
                            Mot de passe invalide.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <!-- Message de succès -->
                    <div th:if="${param.logout}" class="alert alert-success d-flex align-items-center" role="alert">
                        <img src="/images/success.png" alt="Déconnexion Réussie" width="30" height="30" class="me-3">
                        <div>
                            Vous avez été déconnecté.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div th:each="utilisateur : ${utilisateurs}" class="col">
                    <div class="card-container">
                        <!-- Flippable card -->
                        <div class="card-flip">
                            <!-- Front of the card -->
                            <div class="card card-front">
                                <div
                                    th:if="${utilisateur.photoBase64 != null and not #strings.isEmpty(utilisateur.photoBase64)}">
                                    <img class="card-img-top" th:src="${utilisateur.photoBase64}"
                                        alt="Photo de profil" />
                                </div>
                                <div
                                    th:if="${utilisateur.photoBase64 == null or #strings.isEmpty(utilisateur.photoBase64)}">
                                    <img class="card-img-top" src="/images/icone_profil.png"
                                        alt="Photo de profil par défaut" />
                                </div>
                                <div class="card-body">
                                    <p class="card-nom" th:text="${utilisateur.nom}">Nom de l'utilisateur</p>
                                    <p class="card-prenom" th:text="${utilisateur.prenom}">Prénom de l'utilisateur</p>
                                </div>
                            </div>
                            <!-- Back of the card -->
                            <div class="card card-back">
                                <!-- Content for the back of the card -->
                                <div class="card-body">
                                    <form id="loginForm" th:action="@{/login}" th:object="${monFormulaire}"
                                        method="post">
                                        <input type="hidden" required id="username" name="username"
                                            class="hiddenLoginField" th:value="${utilisateur.login}">
                                        <input type="hidden" class="password" name="password">
                                        <fieldset>
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-4 text-center pattern-dot" data-number="1"></div>
                                                    <div class="col-4 text-center pattern-dot" data-number="2"></div>
                                                    <div class="col-4 text-center pattern-dot" data-number="3"></div>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-4 text-center pattern-dot" data-number="4"></div>
                                                    <div class="col-4 text-center pattern-dot" data-number="5"></div>
                                                    <div class="col-4 text-center pattern-dot" data-number="6"></div>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-4 text-center pattern-dot" data-number="7"></div>
                                                    <div class="col-4 text-center pattern-dot" data-number="8"></div>
                                                    <div class="col-4 text-center pattern-dot" data-number="9"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <button class="btn btn-secondary mt-3" type="button"
                                                            onclick="resetPattern()">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col text-center">
                                                <button class="connecter btn btn-primary mt-3" type="button">Se
                                                    Connecter</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <div class="icon-container text-center mt-2">
                                        <a class="btn arrow_return_left" type="button" href="/">
                                            <img src="/images/arrow_return_left.png" alt="Retourner la carte" width="40"
                                                height="40">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function lireTexte(texte) {
                const syntheseVocale = window.speechSynthesis;
                const message = new SpeechSynthesisUtterance(texte);
                syntheseVocale.speak(message);
            }

            document.addEventListener("DOMContentLoaded", function () {
                const cardContainers = document.querySelectorAll('.card-container');
                cardContainers.forEach(container => {
                    let password = []; // Créer un tableau de mot de passe unique pour chaque conteneur de carte

                    // Ajout du gestionnaire d'événements pour retourner les cartes
                    container.addEventListener('click', function () {
                        const cardFlip = this.querySelector('.card-flip');
                        if (!cardFlip.classList.contains('is-flipped')) {
                            cardFlip.classList.add('is-flipped');
                        }
                    });

                    // Ajout du gestionnaire d'événements pour les points de motif
                    const dots = container.querySelectorAll('.pattern-dot');
                    const connectButton = container.querySelector('.connecter');
                    const passwordField = container.querySelector('.password');

                    dots.forEach(dot => {
                        dot.addEventListener('click', function () {
                            const dotNumber = this.getAttribute('data-number');
                            if (this.classList.contains('selected') && password[password.length - 1] === dotNumber) {
                                this.classList.remove('selected');
                                password.pop();
                            } else if (!this.classList.contains('selected') && password.length < 4) {
                                this.classList.add('selected');
                                password.push(dotNumber);
                            }
                            passwordField.value = password.join('');
                            connectButton.style.display = password.length === 4 ? 'block' : 'none';
                        });
                    });

                    connectButton.addEventListener('click', function () {
                        container.querySelector('form').submit();
                    });


                    container.resetPattern = function () {
                        password = [];
                        passwordField.value = '';
                        dots.forEach(dot => dot.classList.remove('selected'));
                        connectButton.style.display = 'none';
                    };
                });

                // Fonction globale pour réinitialiser le modèle
                window.resetPattern = function () {
                    cardContainers.forEach(container => {
                        container.resetPattern();
                    });
                };

                const popovers = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
                popovers.map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
            });

        </script>

</body>

</html>