<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier l'image</title>

    <script type="text/javascript">
        function previewImage(input) {
            var preview = document.getElementById('preview');
            var fileInput = document.getElementById('newImageFile');
            var file = fileInput.files[0];
            /*<![CDATA[*/
            var maxFileSize = [[${ maxFileSize }]];
            /*]]>*/

            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;

                // Afficher la taille de l'image
                var fileSize = file.size; // taille en octets

                // Vérifier si la taille de l'image ne dépasse pas la limite
                var isFileSizeValid = fileSize <= maxFileSize;

                var maxFileSizeInMo = maxFileSize / 1024 / 1024;

                var sizeInKb = fileSize / 1024; // taille en kilo-octets
                var sizeInMb = sizeInKb / 1024; // taille en mégaoctets

                // Activer le bouton si la taille de l'image est dans les limites
                document.getElementById('modifierButton').disabled = !isFileSizeValid;

                // Afficher une alerte si la taille n'est pas valide
                if (!isFileSizeValid) {
                    alert('La taille du fichier dépasse la limite autorisée (' + maxFileSizeInMo + ' Mo). Veuillez sélectionner un fichier plus petit.');
                }
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
</head>

<body>

    <h2>Modifier l'image <span th:text="${image.nomImage}"></span></h2>

    <form th:action="@{'/modifierImage/' + ${id}}" th:object="${image}" method="post" enctype="multipart/form-data">
        <!-- Afficher l'image actuelle -->
        <h3>Image actuelle : </h3>
        <br>
        <img th:src="@{'/' + ${image.imageUrl}}" alt="Image" style="max-width: 20vh;"/>
        <br>

        <!-- Sélectionner une nouvelle image -->
        <h3>Nouvelle image : </h3>
        <input type="file" id="newImageFile" name="newImageFile" accept="image/*" required
            onchange="previewImage(this)">
        <br>

        <!-- Prévisualisation de la nouvelle image -->
        <img id="preview" style="max-width: 10vh;">

        <br>

        <!-- Bouton Modifier -->
        <input type="submit" id="modifierButton" value="Modifier" disabled>
    </form>

    <p th:text="${message}"></p>

</body>

</html>