<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" xml:lang="fr">

<head>
    <title>Fiche Intervention</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>

<body>

    <body class="colonne centre">
        <main class="colonne">
            <div class="titre border">FICHE D'INTERVENTION N°01</div>
            <form th:action="@{/ajouter_fiche}" th:object="${fiche}" method="post" id="ficheForm" class="fiche-form">

                <div class="espaceHor"></div>

                <fieldset>
                    <legend>Intervenant</legend>
                    <div>
                        <div class="titre">Nom de l'intervenant</div>
                        <div class="test">
                            <select id="utilisateur" name="utilisateur.id" th:field="*{utilisateur.id}">
                                <option th:each="user : ${users}" th:value="${user.id}"
                                    th:text="${user.nom} + ' ' + ${user.prenom}"></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="espaceHor"></div>
                <fieldset>
                    <legend>Demande</legend>
                    <div>
                        <div class="titre">Nom du demandeur</div>
                        <div class="test">
                            <input type="text" id="nomDemandeur" name="nomDemandeur" th:field="*{demande.nomDemandeur}">
                        </div>
                    </div>
                    <div class="espaceHor"></div>
                    <div>
                        <div class="titre">Date de la demande</div>
                        <div class="test">
                            <input type="date" placeholder="dd-mm-yyyy" id="dateDemande" name="dateDemande"
                                th:field="*{demande.dateDemande}">
                        </div>




                        <div class="titre">Localisation</div>
                        <div class="test">
                            <input type="text" id="localisation" name="localisation" th:field="*{demande.localisation}">
                        </div>
                    </div>
                    <div class="espaceHor"></div>
                    <div class="colonnePrint">
                        <div class="titre demi">Description de la demande</div>
                        <div class="test">
                            <input type="text" id="description" name="description" th:field="*{demande.description}">
                        </div>
                    </div>
                    <div class="espaceHor"></div>
                    <div>
                        <div class="titre demi">Degré d'urgence</div>
                        <div class="test">
                            <input type="text" id="degreUrgence" name="degreUrgence" th:field="*{demande.degreUrgence}">
                        </div>
                    </div>
                </fieldset>
                <div class="espaceHor"></div>
                <fieldset>
                    <legend>Intervention</legend>

                    <div class="espaceHor"></div>
                    <div>

                        <div class="titre">Date d'intervention</div>


                        <div class="test">
                            <span th:if="${fiche.intervention != null}" th:text="${#temporals.format(fiche.intervention.dateIntervention, 'dd/MM/yyyy')}"></span>
                        </div>
                        

                        <div class="titre">Durée de l'opération</div>
                        <div class="test">
                            <input type="text" id="dureeIntervention" name="dureeIntervention"
                                th:field="*{intervention.dureeIntervention}">
                        </div>
                    </div>
                </fieldset>
                </div>
                <div class="colonne listeCheckbox">
                    <fieldset class=" colonne">
                        <legend>Type de Maintenance</legend>

                        <div>
                            <div class="demi">
                                <select id="MaintenanceType" name="MaintenanceType"
                                    th:field="*{maintenance.maintenanceType}">
                                    <option
                                        th:each="type : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Maintenance.MaintenanceType).values()}"
                                        th:value="${type}" th:text="${#strings.capitalize(type.name())}"></option>
                                </select>

                            </div>
                        </div>




                    </fieldset>
                </div>
                <div class="colonne listeCheckbox">
                    <fieldset class="colonne">
                        <legend>Nature de l'intervention</legend>
                        <div>
                            <div class="demi">
                                <select th:id="'natureIntervention' + ${i}" name="natureIntervention" class="natureIntervention" th:field="*{natureIntervention.natureType}">
                                    <option th:each="nature : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.NatureIntervention.NatureType).values()}"
                                            th:value="${nature}" th:text="${#strings.capitalize(nature.name())}"></option>
                                </select>
                                
                            </div>
                        </div>
                    </fieldset>
                </div>
                


                </div>
                <div class="espaceHor"></div>
                </div>
                <div class="espaceHor"></div>

                <div>
                    <div class="colonnePrint">
                        <div class="titre demi">Travaux réalisés</div>
                        <div class="test">
                            <input type="text" id="travauxRealises" name="travauxRealises"
                                th:field="*{travauxRealises}">
                        </div>
                    </div>
                </div>
                <div class="espaceHor"></div>

                <div>
                    <div class="colonnePrint">
                        <div class="titre demi">Travaux non réalisés</div>
                        <div class="test">
                            <input type="text" id="travauxNonRealises" name="travauxNonRealises"
                                th:field="*{travauxNonRealises}">
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <div class="noPrint "></div>
                    <div class="check">
                        <!-- Add a checkbox with name "etatFicheFinie" and bind it to the "fiche.etatFicheFinie" property -->
                        <input type="checkbox" name="nouvelleIntervention" th:checked="${fiche.nouvelleIntervention}" />
                    </div>
                    <div class="droite"> <label>Nécessite une nouvelle intervention</label>
                    </div>
                </div>
                <div class="espaceHor"></div>


                <!-- Matériaux Utilisés -->
                <legend>Matériaux Utilisés</legend>

                <!-- Utilisez une boucle pour générer dynamiquement les champs de sélection des matériaux -->

                <div th:each="i : ${#numbers.sequence(1, 6)}" class="demi selectADupliquer">
                    <select th:id="'materiauxUtilises' + ${i}" name="materiauxUtilises" class="materiauxUtilises"
                        th:field="*{materiauxOptions}">
                        <option
                            th:each="materiau : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.MateriauxElectriciteListe).values()}"
                            th:value="${materiau}" th:text="${materiau.optionName}"></option>
                    </select>
                </div>

                </div>
                <div class="espaceHor"></div>
                <div class="espaceHor"></div>
                <!-- Add this checkbox to your form -->
                <div>
                    <div class="noPrint"></div>
                    <div class="check">
                        <!-- Add a checkbox with name "etatFicheFinie" and bind it to the "fiche.etatFicheFinie" property -->
                        <input type="checkbox" name="etatFicheFinie" th:checked="${fiche.etatFicheFinie}" />
                    </div>
                    <div class="droite"> <label>État de la fiche</label></div>
                </div>




                <div class="centre noPrint">Click sur imprimer quand vous avez tout terminé</div>
                <div class="noPrint">
                    <div></div>
                    <button>Imprimer</button>
                    <div></div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
    <script>
        bouton = document.getElementsByTagName("button")[0];
        bouton.addEventListener("click", imprimer);

        function imprimer(e) {
            e.preventDefault();
            window.print();
        }

        document.addEventListener('DOMContentLoaded', function () {
            const dateDemandeInput = document.getElementById('dateDemande');

            dateDemandeInput.addEventListener('input', function () {
                let inputValue = dateDemandeInput.value;
                if (inputValue.length === 2 || inputValue.length === 5) {
                    inputValue += '/';
                }

                if (inputValue.length > 10) {
                    inputValue = inputValue.slice(0, 10);
                }

                dateDemandeInput.value = inputValue;
            });
        });

        // Add this script to format all date inputs when the page is loaded
        document.addEventListener('DOMContentLoaded', function () {
            const dateInputs = document.querySelectorAll('input[type="date"]');
            dateInputs.forEach(function (input) {
                input.value = formatDate(input.value);
            });
        });

        // Function to format date as dd/MM/yyyy
        function formatDate(dateString) {
            const date = new Date(dateString);
            const day = date.getDate().toString().padStart(2, '0');
            const month = (date.getMonth() + 1).toString().padStart(2, '0');
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }
    </script>


</html>