<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fiche Intervention</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>

<body>

    <body class="colonne centre">
        <main class="colonne">
            <div class="titre border">FICHE D'INTERVENTION N°<span th:text="${ficheIntervention.id}"></span></div>
            <form>

                <div class="espaceHor"></div>
                <fieldset>
                    <legend>Intervenant</legend>
                    <div>
                        <div class="titre">Nom de l'intervenant</div>
                        <div class="test"> <span th:text="${ficheIntervention.utilisateur.nom}"></span></div>
                        <div class="titre">Prénom de l'intervenant</div>
                        <div class="test"> <span th:text="${ficheIntervention.utilisateur.prenom}"></span></div>
                    </div>
                </fieldset>
                <div class="espaceHor"></div>
                <fieldset>
                    <legend>Demande</legend>
                    <div>
                        <div class="titre">Nom du demandeur</div>
                        <div class="test"> <span th:text="${ficheIntervention.nomDemandeur}"></span></div>
                    </div>
                    <div class="espaceHor"></div>
                    <div>
                        <div class="titre">Date de la demande</div>
                        <div class="test">
                            <span th:text="${#temporals.format(ficheIntervention.dateDemande, 'dd/MM/yyyy')}"></span>
                        </div>
                        <div class="titre">Localisation</div>
                        <div class="test"> <span th:text="${ficheIntervention.localisation}"></span></div>
                    </div>
                    <div class="espaceHor"></div>
                    <div class="colonnePrint">
                        <div class="titre demi">Description de la demande</div>
                        <div class="test">
                            <span disabled rows="10" th:text="${ficheIntervention.demande.Description}">
                            </span>
                        </div>
                    </div>
                    <div class="espaceHor"></div>
                    <div>
                        <div class="titre demi">Degré d'urgence</div>
                        <div class="test">
                            <span th:text="${ficheIntervention.degreUrgence}"></span>
                        </div>
                    </div>
                    </div>
                </fieldset>




                <div class="espaceHor"></div>
                <fieldset th:if="${ficheIntervention.intervention != null}">
                    <legend>Intervention</legend>

                    <div class="espaceHor"></div>
                    <div>
                        <div class="titre">Date d'intervention</div>
                        <div class="test">
                            <span
                                th:text="${#temporals.format(ficheIntervention.dateIntervention, 'dd/MM/yyyy')}"></span>
                        </div>
                        <div class="titre">Durée de l'opération</div>
                        <div class="test" th:if="${ficheIntervention.dureeIntervention != null}">

                            <span th:text="${ficheIntervention.dureeIntervention}"></span>
                        </div>

                </fieldset>
                </div>


                <div class="colonne listeCheckbox" th:if="${ficheIntervention.maintenance != null and ficheIntervention.maintenance.maintenanceType != null}">
                    <!-- Type de Maintenance -->
                    <fieldset class="colonne">
                        <legend>Type de Maintenance</legend>
                        <div>
                            <div class="demi">
                                <input type="checkbox"
                                    th:checked="${#strings.equalsIgnoreCase(ficheIntervention.maintenance.maintenanceType, 'ameliorative')}"
                                    th:value="ameliorative" name="typeIntervention">
                            </div>
                            <div class="droite"> <label>améliorative</label></div>
                        </div>
                        <div>
                            <div class="demi">
                                <input type="checkbox"
                                    th:checked="${#strings.equalsIgnoreCase(ficheIntervention.maintenance.maintenanceType, 'preventive')}"
                                    th:value="preventive" name="typeIntervention">
                            </div>
                            <div class="droite"> <label>préventive</label></div>
                        </div>
                        <div>
                            <div class="demi">
                                <input type="checkbox"
                                    th:checked="${#strings.equalsIgnoreCase(ficheIntervention.maintenance.maintenanceType, 'corrective')}"
                                    th:value="corrective" name="typeIntervention">
                            </div>
                            <div class="droite"> <label>corrective</label></div>
                        </div>
                    </fieldset>
                </div>
                
                <div class="colonne listeCheckbox" th:if="${ficheIntervention.natureIntervention != null}">
                    <fieldset class="colonne">
                        <legend>Nature de l'intervention</legend>
                        <div>
                            <div class="demi">
                                <input type="checkbox"
                                    th:checked="${#strings.equalsIgnoreCase(ficheIntervention.natureIntervention.NatureType, 'AMENAGEMENT')}"
                                    th:value="AMENAGEMENT" name="natureIntervention">
                            </div>
                            <div class="droite">
                                <label>Aménagement</label>
                            </div>
                        </div>
                        <!-- Add the span to display the current value -->
                        <div>
                            <div class="demi">
                                <input type="checkbox"
                                    th:checked="${#strings.equalsIgnoreCase(ficheIntervention.natureIntervention.NatureType, 'FINITIONS')}"
                                    th:value="FINITIONS" name="natureIntervention">
                            </div>
                            <div class="droite">
                                <label>Finitions</label>
                            </div>
                        </div>
                        <div>
                            <div class="demi">
                                <input type="checkbox"
                                    th:checked="${#strings.equalsIgnoreCase(ficheIntervention.natureIntervention.NatureType, 'INSTALLATION_SANITAIRE')}"
                                    th:value="INSTALLATION_SANITAIRE" name="natureIntervention">
                            </div>
                            <div class="droite">
                                <label>Installation sanitaire</label>
                            </div>
                        </div>
                        <div>
                            <div class="demi">
                                <input type="checkbox"
                                    th:checked="${#strings.equalsIgnoreCase(ficheIntervention.natureIntervention.NatureType, 'INSTALLATION_ELECTRIQUE')}"
                                    th:value="INSTALLATION_ELECTRIQUE" name="natureIntervention">
                            </div>
                            <div class="droite">
                                <label>Installation électrique</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                </fieldset>
                </div>

                </div>
                <div class="espaceHor"></div>
                </div>
                <div class="espaceHor"></div>

                <fieldset class="colonne" th:if="${ficheIntervention.travauxRealises != null}">
                    <legend>Travaux réalisés</legend>
                    <div>
                        <div class="colonnePrint">
                            <div class="test">
                                <span th:text="${ficheIntervention.travauxRealises}"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                
                <div class="espaceHor"></div>


                <fieldset class="colonne" th:if="${ficheIntervention.travauxNonRealises != null}">
                    <legend>Travaux non réalisés</legend>
                    <div>
                        <div class="colonnePrint">
                            <div class="test">
                                <span th:text="${ficheIntervention.travauxNonRealises}"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="espaceHor"></div>

                <div>
                    <div class="noPrint "></div>
                    <div class="check">
                        <input type="checkbox" th:checked="${ficheIntervention.nouvelleIntervention}" />
                    </div>
                    <div class="droite"> <label>Nécessite une nouvelle intervention</label>
                    </div>
                </div>
                <div class="espaceHor"></div>


                <fieldset class="colonne" th:if="${ficheIntervention.travauxRealises != null}">
                <!-- Matériaux Utilisés -->
                <legend>Matériaux Utilisé</legend>
                <div class="noPrint"></div>
                <div class="espaceHor"></div>
                <div class="ligneSelectMateriaux">
                    <!-- Ajouter une div pour chaque ligne de matériaux -->
                    <div th:each="ligneMateriaux : ${ficheIntervention.materiauxOptions}" class="ligneMateriaux">
                        <!-- Ajouter une div pour chaque paire de matériau dans la ligne -->
                        <div th:each="materiel : ${ligneMateriaux}" class="max-width-container">
                            <select class="max-width-select">
                                <!-- Utiliser th:each pour parcourir les options de matériau -->
                                <option th:each="m : ${materiel}" th:value="${m}" th:text="${m}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>


                </div>
                </fieldset>
                <div class="espaceHor"></div>

                <div class="noPrint">
                    <div></div>
                    <button>Imprimer</button>
                    <div></div>
                </div>
            </form>
        </main>
    </body>
    <script>
        bouton = document.getElementsByTagName("button")[0];
        bouton.addEventListener("click", imprimer);

        function imprimer(e) {
            e.preventDefault();
            window.print();
        }

        /* Dupliquer les select */
        lesSelect = document.getElementsByClassName("selectADupliquer");
        select = lesSelect[0].childNodes[1];
        for (let i = 1; i < lesSelect.length; i++) {
            lesSelect[i].appendChild(select.cloneNode(true));
        }
    </script>


</html>