<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">


<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <script src="/js/jquery-3.2.1.slim.min.js"></script>
   <script src="/js/popper.min.js"></script>
   <link href="/css/bootstrap.min.css" rel="stylesheet" />
   <script src="/js/bootstrap.bundle.min.js"></script>
   <link rel="stylesheet" href="/css/font-awesome.min.css" />
   <title>Modifier Fiche</title>
   <link rel="icon" type="image/x-icon"
      href="https://upload.wikimedia.org/wikipedia/commons/e/e9/Minsk_Metro_Line_3.png" />

   <style>
      .logo {
         width: 1.5rem;
         height: 1.5rem;
      }

      .imageListe {
         max-height: 20vh;
         max-width: 100%;
         object-fit: contain;
         margin: 1rem;
      }

      .images-selector {
         display: none;
         height: fit-content;
         max-height: 80vh;
         flex-wrap: wrap;
         justify-content: center;
         gap: 10px;
         position: fixed;
         top: 5%;
         left: 5%;
         right: 5%;
         bottom: 5%;
         background-color: rgb(255, 255, 255);
         z-index: 999;
         overflow: auto;
         grid-template-columns: repeat(3, 1fr);
         max-width: 85vw;
         margin: 0 auto;
         border-radius: 3%;
      }
   </style>

</head>

<body>

   <div class="container">

      <section class="h-100 p-5 text-white bg-dark rounded-3" style="margin-top: calc(var(--bs-gutter-x) * .5);">
         <div class="container">
            <h1 class="display-4">FICHE D'INTERVENTION:&nbsp;
               <span th:if="${ficheIntervention.intervention != null}"
                  th:text="${ficheIntervention.intervention.typeIntervention}"></span>
            </h1>
         </div>
      </section>


      <form method="post" th:action="@{/updateFiche/{id}(id=${ficheIntervention.id})}" th:object="${ficheIntervention}">
         <!--------------------------Intervenant--------------------------------------->
         <hr />

         <legend th:switch="${ficheIntervention.niveauIntervenant}">
            <img th:case="0" class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
            <div th:case="1" class="row align-items-center">
               <div class="col-auto">
                  <img class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
               </div>
               <div class="col-auto">
                  <h2 class="display-5" th:style="'color: ' + ${ficheIntervention.Intervenant.couleurTitreIntervenant}">
                     Intervenant</h2>
               </div>
            </div>
            <h2 class="display-5" th:case="2" th:style="'color: ' + ${color}">Intervenant</h2>
         </legend>



         <div class="row">
            <div class="col-md-6 mb-3">
               <label for="firstName"
                  th:style="'color: ' + ${ficheIntervention.Intervenant.couleurPrenom}">Prénom</label>
               <input type="text" class="form-control" id="firstName" placeholder=""
                  th:value="${ficheIntervention.utilisateur.nom}" required="">
               <div class="invalid-feedback">
                  Un prénom valide est requis.
               </div>
            </div>
            <div class="col-md-6 mb-3">
               <label for="lastName" th:style="'color: ' + ${ficheIntervention.Intervenant.couleurNom}">Nom</label>
               <input type="text" class="form-control" id="lastName" placeholder=""
                  th:value="${ficheIntervention.utilisateur.prenom}" required="">
               <div class="invalid-feedback">
                  Un nom valide est requis.
               </div>
            </div>
         </div>


         <!--------------------------Demande--------------------------------------->
         <hr />

         <legend th:switch="${ficheIntervention.demande.niveauTitreDemande}">
            <img th:case="0" class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
            <div th:case="1" class="row align-items-center">
               <div class="col-auto">
                  <img class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
               </div>
               <div class="col-auto">
                  <h2 class="display-5" th:style="'color: ' + ${ficheIntervention.Demande.couleurTitreDemande}">Demande
                  </h2>
               </div>
            </div>
            <h2 class="display-5" th:case="2" th:style="'color: ' + ${ficheIntervention.Demande.couleurTitreDemande}">
               Demande</h2>
         </legend>

         <div class="row">
            <div class="col-md-6 mb-3">
               <label for="disabledNomDemandeur"
                  th:style="'color: ' + ${ficheIntervention.Demande.couleurNomDemandeur}">Nom du demandeur</label>
               <input type="text" id="disabledNomDemandeur" class="form-control"
                  th:placeholder="${ficheIntervention.demande.NomDemandeur}" disabled>
               <label for="disabledDegreUrgence"
                  th:style="'color: ' + ${ficheIntervention.Demande.couleurDegreUrgence}">Degré d'urgence</label>
               <input type="text" id="disabledDegreUrgence" class="form-control"
                  th:placeholder="${ficheIntervention.degreUrgence}" disabled>
            </div>
            <div class="col-md-6 mb-3">
               <label for="disabledDateDemande"
                  th:style="'color: ' + ${ficheIntervention.Demande.couleurDateDemande}">Date de la demande</label>
               <input type="date" id="disabledDateDemande" name="disabledDateDemande" class="form-control"
                  th:value="${#temporals.format(ficheIntervention.dateDemande, 'yyyy-MM-dd')}" disabled />

               <label for="disabledLocalisation"
                  th:style="'color: ' + ${ficheIntervention.Demande.couleurLocalisation}">Localisation</label>
               <input type="text" id="disabledLocalisation" class="form-control"
                  th:placeholder="${ficheIntervention.localisation}" disabled>
            </div>
         </div>
         <div>
            <div class="form-group">

               <label for="disabledDescription"
                  th:style="'color: ' + ${ficheIntervention.Demande.couleurDescription}">Description</label>
               <textarea rows="10" id="disabledDescription" class="form-control"
                  th:placeholder="${ficheIntervention.demande.Description}" disabled></textarea>
            </div>
         </div>


         <!--------------------------Intervention--------------------------------------->
         <hr />

         <legend th:switch="${ficheIntervention.intervention.niveauTitreIntervention}">
            <img th:case="0" class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
            <div th:case="1" class="row align-items-center">
               <div class="col-auto">
                  <img class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
               </div>
               <div class="col-auto">
                  <h2 class="display-5"
                     th:style="'color: ' + ${ficheIntervention.Intervention.couleurTitreIntervention}">Intervention</h2>
               </div>
            </div>
            <h2 class="display-5" th:case="2"
               th:style="'color: ' + ${ficheIntervention.Intervention.couleurTitreIntervention}">Intervention</h2>
         </legend>

         <div class="row">
            <div class="col-md-4 mb-3">
                  <label for="newDateIntervention"
                     th:style="'color: ' + ${ficheIntervention.Intervention.couleurDateIntervention}">Date de
                     l'intervention</label>
                  <input type="date" id="newDateIntervention" name="newDateIntervention" class="form-control"
                     th:value="${#temporals.format(ficheIntervention.dateIntervention, 'yyyy-MM-dd')}" />
                  <label for="newDureeIntervention"
                     th:style="'color: ' + ${ficheIntervention.Intervention.couleurDureeIntervention}">Durée de
                     l'intervention</label>
                  <input type="text" id="newDureeIntervention" name="newDureeIntervention" class="form-control"
                     th:value="${ficheIntervention.dureeIntervention}">
            </div>


            <div class="col-md-4 mb-3">
               <label for="disabledTypeIntervention"
                  th:style="'color: ' + ${ficheIntervention.Intervention.couleurTypeIntervention}">Type
                  d'intervention</label>
               <div id="disabledTypeIntervention"
                  th:each="nature : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Intervention.TypeIntervention).values()}">
                  <div class="media form-check">
                     <input class="form-check-input" type="radio" name="intervention" th:value="${nature.name()}"
                        th:id="${'radio-' + nature}"
                        th:checked="${ficheIntervention.Intervention != null and ficheIntervention.typeIntervention != null and ficheIntervention.typeIntervention eq nature.name()}" />
                     <img class="align-self-start mr-3 logo"
                        th:src="${'/images/' + nature.name().toLowerCase() + '.png'}"
                        th:alt="${'/images/' + nature.name().toLowerCase() + '.png'}" />
                     <label th:for="${'radio-' + nature}"
                        th:text="${#strings.capitalize(nature.name().toLowerCase().replace('_', ' '))}"></label>
                  </div>
               </div>
               <input type="hidden" name="newNatureType"
                  th:value="${ficheIntervention.intervention != null ? ficheIntervention.intervention.typeIntervention : null}"
                  id="selectedNatureType">
            </div>


            <div class="col-md-4 mb-3">
               <label for="newMaintenanceType"
                  th:style="'color: ' + ${ficheIntervention.Maintenance.CouleurMaintenanceType}">Type de
                  maintenance</label>
               <div id="newMaintenanceType"
                  th:each="type : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Maintenance.MaintenanceType).values()}">
                  <div class="media form-check">
                     <input class="form-check-input" type="radio" name="maintenanceType" th:value="${type}"
                        th:id="${'radio-' + type.name()}"
                        th:checked="${ficheIntervention.maintenance != null and ficheIntervention.maintenance.maintenanceType != null and ficheIntervention.maintenance.maintenanceType.ordinal() eq type.ordinal()}" />
                     <img class="align-self-start mr-3 logo" th:src="${'/images/' + type.name().toLowerCase() + '.png'}"
                        th:alt="${'/images/' + type.name().toLowerCase() + '.png'}">
                     <label th:for="${'radio-' + type.name()}"
                        th:text="${#strings.capitalize(type.name().toLowerCase().replace('_', ' '))}"></label>
                  </div>
               </div>
               <!--Champ  caché pour stocker la nouvelle valeur -->
               <input type="hidden" name="newMaintenanceType"
                  th:value="${ficheIntervention.maintenance != null ? ficheIntervention.maintenance.maintenanceType : null}"
                  id="selectedMaintenanceType">
            </div>



         </div>

         <!--------------------------Travaux réalisés--------------------------------------->
         <hr />


         <legend th:switch="${ficheIntervention.NiveauTravauxRealises}">
            <img th:case="0" class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
            <div th:case="1" class="row align-items-center">
               <div class="col-auto">
                  <img class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
               </div>
               <div class="col-auto">
                  <h2 class="display-5" th:style="'color: ' + ${ficheIntervention.couleurTravauxRealises}">Travaux
                     réalisés
                  </h2>
               </div>
            </div>
            <h2 class="display-5" th:case="2" th:style="'color: ' + ${ficheIntervention.couleurTravauxRealises}">Travaux
               réalisés</h2>
         </legend>
         <div class="form-group">
            <textarea rows="10" id="newTravauxRealises" class="form-control" name="newTravauxRealises"
               th:text="${ficheIntervention.travauxRealises}" onkeydown="handleDescriptionKeyDown(event)"></textarea>
         </div>

         <!--------------------------Travaux NON réalisés--------------------------------------->
         <hr />
         <legend th:switch="${ficheIntervention.NiveauTravauxRealises}">
            <img th:case="0" class="display-5" src="/images/notchecked.png" alt="Pas Fait" style="height: 1em;" />

            <div th:case="1" class="row align-items-center">
               <div class="col-auto">
                  <img class="display-5" src="/images/notchecked.png" alt="Pas fait" style="height: 1em;" />
               </div>
               <div class="col-auto">
                  <h2 class="display-5" th:style="'color: ' + ${ficheIntervention.couleurTravauxNonRealises}">Travaux
                     non
                     réalisés</h2>
               </div>
            </div>


            <h2 class="display-5" th:case="2" th:style="'color: ' + ${ficheIntervention.couleurTravauxNonRealises}">
               Travaux
               non réalisés</h2>
         </legend>
         <div class="form-group">
            <textarea rows="10" class="form-control" id="newTravauxNonRealises" name="newTravauxNonRealises"
               onkeydown="handleDescriptionKeyDown(event)" th:text="${ficheIntervention.travauxNonRealises}"></textarea>
         </div>

         <!--------------------------Matériaux--------------------------------------->
         <hr />

         <legend th:switch="${ficheIntervention.NiveauMateriauxUtilises}">
            <img th:case="0" class="display-5" src="/images/materiaux.png" alt="Materiaux" style="height: 1em;" />
            <div th:case="1" class="row align-items-center">
               <div class="col-auto">
                  <img class="display-5" src="/images/materiaux.png" alt="Materiaux" style="height: 1em;" />
               </div>
               <div class="col-auto">
                  <h2 class="display-5" th:style="'color: ' + ${ficheIntervention.couleurMateriauxUtilises}">Materiaux
                  </h2>
               </div>
            </div>

            <h2 class="display-5" th:case="2" th:style="'color: ' + ${ficheIntervention.couleurMateriauxUtilises}">
               Materiaux
            </h2>
         </legend>

         <!-- Affichage des dropdown si NiveauMateriauxUtilises vaut 2 -->
         <div th:if="${ficheIntervention.NiveauMateriauxUtilises == 2}">
            <div class="row">
               <div th:each="i : ${#numbers.sequence(0,5)}" class="form-group">

                  <div class="col">
                     <label for="exampleFormControlSelect1" class="form-label">Materiau</label>
                     <span th:text="${i}+1"></span>
                     <select th:id="'exampleFormControlSelect' + ${i}" name="materiauxUtilises" class="form-control">
                        <option value=""></option>
                        <option th:each="element, status : ${materiauxAmenagementList}" th:value="${element.nomImage}"
                           th:text="${element.nomImage}"
                           th:selected="${ficheIntervention.materiauxOptions != null and ficheIntervention.materiauxOptions.size() > i and ficheIntervention.materiauxOptions[i] == element.nomImage}">
                        </option>
                     </select>
                  </div>
               </div>
            </div>
         </div>

         <!-- Affichage des images et texte si NiveauMateriauxUtilises vaut 1 -->
         <div class="materiaux_vertical" th:if="${ficheIntervention.NiveauMateriauxUtilises == 1}">

            <div class="noPrint"></div>
            <div class="container">
               <div class="row">
                  <th:block th:each="sectionNumber : ${#numbers.sequence(0,5)}">
                     <div class="col-6 col-sm-6 col-lg-4 mb-4 flex-fill " data-bs-toggle="modal"
                        th:attr="data-bs-target='#exampleModalCenter' + ${sectionNumber}">
                        <div id="case" style="border: 2px solid #212529;border-radius: 0.4rem; height: 100%;">


                           <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" style="width: 100%;"
                              th:attr="data-bs-target='#exampleModalCenter' + ${sectionNumber}">
                              Selectionner le matériau <span th:text="${sectionNumber + 1}"></span>
                           </button>

                           <!-- Modal -->
                           <div class="modal fade" th:id="'exampleModalCenter' + ${sectionNumber}" tabindex="-1"
                              role="dialog" aria-labelledby="'exampleModalCenterTitle' + ${sectionNumber}"
                              aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="exampleModalLongTitle">Selectionner le matériau <span
                                             th:text="${sectionNumber + 1}"></span></h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="overflow-y: auto; max-height: calc(100vh - 210px);">
                                       <!-- Ajout du style ici -->
                                       <div th:id="'material-dropdown' + ${sectionNumber}">
                                          <div class="container-fluid">
                                             <div class="row d-flex align-items-stretch">
                                                <!--Cardimages-->
                                                <div class="col-6 col-sm-6 col-lg-4 mb-4" style="max-width: 300px;"
                                                   th:each="element, status : ${materiauxAmenagementList}">
                                                   <label
                                                      class="card cardimage d-flex flex-column align-items-center h-100"
                                                      tabindex="0">
                                                      <div
                                                         class="d-flex flex-column justify-content-end align-items-center"
                                                         style="max-width: 100%;min-width: 100%;min-height: 100%;max-height: 100%;">
                                                         <img class="imageListe d-block mx-auto rounded"
                                                            th:src="@{'/' + ${element.imageUrl}}" alt="Image" />
                                                         <p class="text-center" th:text="${element.nomImage}"></p>
                                                         <input type="radio" name="materialRadio"
                                                            th:value="${element.nomImage}"
                                                            th:id="'radio_' + ${sectionNumber} + '_' + ${status.index}"
                                                            onclick="displaySelectedImage(this)"
                                                            style="visibility: hidden;">
                                                      </div>
                                                   </label>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="modal-footer"><!--Bouton effacer-->
                                       <button class="clear-button btn btn-secondary" type="button"
                                          th:onclick="'clearInput(\'newMateriau' + ${sectionNumber} + '\');refresh_images_selectionnees();effacerBordures(' + ${sectionNumber} + ');'">Aucun</button>
                                       <button type="button" class="btn btn-danger"
                                          data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="w-100"></div>
                           <img th:id="'selected-image_' + ${sectionNumber}" alt="image selectionnée"
                              style="max-height: 15vh; max-width: 80vw; width: 100%; object-fit: contain;margin: 1rem;height: inherit;"
                              class="rounded mx-auto d-block">

                           <div class="w-100"></div>
                           <input type="text" class="form-control mx-auto d-block" aria-describedby="basic-addon2"
                              th:value="${ficheIntervention.materiauxOptions != null 
                                  and ficheIntervention.materiauxOptions.size() > sectionNumber ? ficheIntervention.materiauxOptions[sectionNumber] : ''}"
                              th:id="'newMateriau' + ${sectionNumber}" th:name="'newMateriau' + ${sectionNumber}">
                        </div>
                     </div>
               </div>
               </th:block>
            </div>
         </div>


         <!-- Affichage des images et texte si NiveauMateriauxUtilises vaut 0 -->
         <div class="materiaux_vertical" th:if="${ficheIntervention.NiveauMateriauxUtilises == 0}">

            <div class="noPrint"></div>
            <div class="container">
               <div class="row">
                  <th:block th:each="sectionNumber : ${#numbers.sequence(0,5)}">
                     <div class="col-6 col-sm-6 col-lg-4 mb-4 flex-fill " data-bs-toggle="modal"
                        th:attr="data-bs-target='#exampleModalCenter' + ${sectionNumber}">
                        <div id="case" style="border: 2px solid #212529;border-radius: 0.4rem; height: 100%;">


                           <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" style="width: 100%;"
                              th:attr="data-bs-target='#exampleModalCenter' + ${sectionNumber}">
                              Selectionner le matériau <span th:text="${sectionNumber + 1}"></span>
                           </button>

                           <!-- Modal -->
                           <div class="modal fade" th:id="'exampleModalCenter' + ${sectionNumber}" tabindex="-1"
                              role="dialog" aria-labelledby="'exampleModalCenterTitle' + ${sectionNumber}"
                              aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="exampleModalLongTitle">Selectionner le matériau <span
                                             th:text="${sectionNumber + 1}"></span></h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="overflow-y: auto; max-height: calc(100vh - 210px);">
                                       <!-- Ajout du style ici -->
                                       <div th:id="'material-dropdown' + ${sectionNumber}">
                                          <div class="container-fluid">
                                             <div class="row d-flex align-items-stretch">
                                                <!--Cardimages-->
                                                <div class="col-6 col-sm-6 col-lg-4 mb-4" style="max-width: 300px;"
                                                   th:each="element, status : ${materiauxAmenagementList}">
                                                   <label
                                                      class="card cardimage d-flex flex-column align-items-center h-100"
                                                      tabindex="0">
                                                      <div
                                                         class="d-flex flex-column justify-content-end align-items-center"
                                                         style="max-width: 100%;min-width: 100%;min-height: 100%;max-height: 100%;">
                                                         <img class="imageListe d-block mx-auto rounded"
                                                            th:src="@{'/' + ${element.imageUrl}}" alt="Image" />
                                                         <input type="radio" name="materialRadio"
                                                            th:value="${element.nomImage}"
                                                            th:id="'radio_' + ${sectionNumber} + '_' + ${status.index}"
                                                            onclick="displaySelectedImage(this)"
                                                            style="visibility: hidden;">
                                                      </div>
                                                   </label>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="modal-footer"><!--Bouton effacer-->
                                       <button class="clear-button btn btn-secondary" type="button"
                                          th:onclick="'clearInput(\'newMateriau' + ${sectionNumber} + '\');refresh_images_selectionnees();effacerBordures(' + ${sectionNumber} + ');'">Aucun</button>
                                       <button type="button" class="btn btn-danger"
                                          data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="w-100"></div>
                           <img th:id="'selected-image_' + ${sectionNumber}" alt="image selectionnée"
                              style="max-height: 15vh; max-width: 80vw; width: 100%; object-fit: contain;margin: 1rem;height: inherit;"
                              class="rounded mx-auto d-block">

                           <div class="w-100"></div>
                           <input type="hidden" class="form-control mx-auto d-block" aria-describedby="basic-addon2"
                              th:value="${ficheIntervention.materiauxOptions != null 
                                  and ficheIntervention.materiauxOptions.size() > sectionNumber ? ficheIntervention.materiauxOptions[sectionNumber] : ''}"
                              th:id="'newMateriau' + ${sectionNumber}" th:name="'newMateriau' + ${sectionNumber}">
                        </div>
                     </div>
               </div>
               </th:block>
            </div>
         </div>



         <!--------------------------Nouvelle Intervention--------------------------------------->
         <hr />
         <div class="form-check">
            <input class="form-check-input" type="checkbox" name="newNouvelleIntervention"
               th:checked="${ficheIntervention.nouvelleIntervention}" id="nouvelleIntervention" />
            <label class="form-check-label" for="nouvelleIntervention">
               Nécessite une nouvelle intervention
            </label>
         </div>


         <hr />

         <!--------------------------Validation--------------------------------------->
         <div class="submit-container" style="height: 10vh;width: 100%;margin-bottom: calc(var(--bs-gutter-x) * .5);">
            <button class="btn btn-dark" type="submit" style="height: inherit;width: inherit;">Terminer</button>
         </div>



      </form>

   </div>


   <script th:inline="javascript">
      /* <![CDATA[ */


      function updateMateriauField(selectElement, textFieldId) {
         var selectedValue = selectElement.value;
         var index = selectElement.id.replace('materiauxUtilises', '');
         document.getElementById('selectedMateriau' + index).value = selectedValue;
      }

      function handleRadioButtonChange(radioButtons, hiddenInput) {
         radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', function () {
               if (this.checked) {
                  hiddenInput.value = this.value;
               }
            });
         });
      }

      //fonction pour effacer les bordures rouges des images non selectionnées de la même sectionnumber quand je clique sur le bouton aucun
      function effacerBordures(sectionNumber) {
         var radioButtons = document.querySelectorAll('input[type="radio"][name="materialRadio"]');
         radioButtons.forEach(function (radioButton) {
            if (radioButton.id.split('_')[1] == sectionNumber) {
               radioButton.parentElement.style.border = 'none';
            }
         });
      }

      function displaySelectedImage(radioInput) {
         // Récupérer l'URL de l'image
         var imageUrl = radioInput.parentElement.querySelector('.imageListe').src;

         // Récupérer le sectionNumber de l'image sélectionnée
         var sectionNumber = radioInput.id.split('_')[1];

         var inputNewMaterial = 'newMateriau' + sectionNumber;

         // Mettre à jour le champ caché
         document.getElementById(inputNewMaterial).value = radioInput.value;

         // Récupérer l'élément 'selected-image' avec le sectionNumber
         var selectedImage = document.getElementById('selected-image_' + sectionNumber);

         // Mettre à jour l'URL de l'image et changer l'arrière-plan
         selectedImage.src = imageUrl;

         //effacer les bordures rouges des images non selectionnées dans le même groupe
         var radioButtons = document.querySelectorAll('input[type="radio"][name="materialRadio"]');
         radioButtons.forEach(function (radioButton) {
            if (radioButton.id.split('_')[1] == sectionNumber) {
               radioButton.parentElement.style.border = 'none';
            }
         });

         // Mettre à jour la bordure de l'image sélectionnée
         radioInput.parentElement.style.border = '2px solid #212529';
         radioInput.parentElement.style.borderRadius = '0.35rem';

      }

      //clic sur la croix pour effacer le texte
      function clearInput(inputId) {
         document.getElementById(inputId).value = '';
      }

      function closeMaterialSelector(button) {
         var imageSelector = button.closest('.images-selector');
         imageSelector.style.display = 'none';
      }

      function refresh_images_selectionnees() {
         //afficher les images selectionnées au démarrage de la page
         var materiauOptions = document.querySelectorAll('[id^="newMateriau"]');
         materiauOptions.forEach(function (materiauOption) {
            var sectionNumber = materiauOption.id.replace('newMateriau', '');

            // Sélectionnez le bouton radio dans le contexte de la section correspondante
            var radioToCheck = document.querySelector('#material-dropdown' + sectionNumber + ' input[type="radio"][value="' + materiauOption.value + '"]');


            if (radioToCheck) {
               //mettre en rouge la bordure de l'image selectionnée
               radioToCheck.parentElement.style.border = '2px solid red';
               radioToCheck.checked = true;
               displaySelectedImage(radioToCheck);
            } else {
               document.getElementById('selected-image_' + sectionNumber).src = '/images/notchecked.png';
            }
         });
      }



      document.addEventListener('DOMContentLoaded', function () {

         refresh_images_selectionnees();

         var selectElements = document.querySelectorAll('select[name="materiauxUtilises"]');

         selectElements.forEach(function (select) {
            select.addEventListener('change', function () {
               updateMateriauField(select, 'newMateriau' + select.id.replace('materiauxUtilises', ''));
            });
         });

         var natureRadioButtons = document.querySelectorAll('input[name="intervention"]');
         var natureHiddenInput = document.getElementById('selectedNatureType');

         natureRadioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', function () {
               if (this.checked) {
                  natureHiddenInput.value = this.value;
               }
            });
         });

         var radioButtons = document.querySelectorAll('input[name="maintenanceType"]');
         var hiddenInput = document.getElementById('selectedMaintenanceType');

         radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', function () {
               if (this.checked) {
                  hiddenInput.value = this.value;
               }
            });
         });

         var showMaterialsBtns = document.querySelectorAll('.show-materials-btn');
         function showMaterialSelector(button) {
            var targetId = button.getAttribute('data-target');
            var imageSelector = document.getElementById(targetId);
            var sectionNumber = targetId.replace('material-dropdown', '');

            imageSelector.style.display = 'grid';
            var radioButtons = imageSelector.querySelectorAll('input[type="radio"]');

            radioButtons.forEach(function (radioButton) {
               radioButton.addEventListener('change', function () {
                  if (this.checked) {
                     var selectedMaterial = this.value;
                     document.getElementById('newMateriau' + sectionNumber).value = selectedMaterial;
                     imageSelector.style.display = 'none';
                  }
               });
            });

            // Ajouter le code pour cocher le bouton radio au chargement de la page
            var materiauOption = document.getElementById('newMateriau' + sectionNumber).value;
            if (materiauOption) {
               var radioToCheck = imageSelector.querySelector('input[type="radio"][value="' + materiauOption + '"]');
               if (radioToCheck) {
                  radioToCheck.checked = true;
               }
            }
         }

         showMaterialsBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
               showMaterialSelector(this);
            });
         });

         var closeMaterialSelectors = document.querySelectorAll('.close-btn');
         closeMaterialSelectors.forEach(function (btn) {
            btn.addEventListener('click', function () {
               closeMaterialSelector(this);
            });
         });
      });
      /* ]]> */
   </script>

</body>

</html>