<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fiche Intervention</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>


<body>

    <body class="colonne centre">
        <main class="colonne">
            <div class="titre border">FICHE D'INTERVENTION N°<span th:text="${ficheIntervention.id}"></span>&nbsp;:&nbsp;
                <span th:if="${ficheIntervention.intervention != null}" th:text="${ficheIntervention.intervention.typeIntervention}"></span>
            </div>
            <form method="post" th:action="@{/updateFiche/{id}(id=${ficheIntervention.id})}"
                th:object="${ficheIntervention}">
                <input type="hidden" th:name="${'id'}" th:value="${ficheIntervention.id}" />

                <div class="espaceHor"></div>
                <fieldset>
                    <legend>Intervenant</legend>
                    <div>
                        <div class="titre">Nom de l'intervenant</div>
                        <div class="test"> <span th:text="${ficheIntervention.utilisateur.nom}"></span></div>
                        <div class="titre">Prénom de l'intervenant</div>
                        <div class="test"> <span th:text="${ficheIntervention.utilisateur.prenom}"></span></div>
                    </div>
                </fieldset>
                <div class="espaceHor"></div>
                <fieldset class="prerempli">
                    <legend>Demande</legend>
                    <div>
                        <div class="titre">Nom du demandeur</div>
                        <div class="test">
                            <input type="text" id="newNomDemandeur" name="newNomDemandeur"
                                th:value="${ficheIntervention.nomDemandeur}" />
                        </div>
                        <div class="titre">Degré d'urgence</div>
                        <div class="test">
                            <input type="number" id="newDegreUrgence" name="newDegreUrgence"
                                th:value="${ficheIntervention.degreUrgence}" />
                        </div>
                    </div>

                    <div class="espaceHor"></div>
                    <div>

                        <div class="titre">Date de la demande</div>
                        <div class="test">
                            <input type="date" id="newDateDemande" name="newDateDemande"
                                th:value="${#temporals.format(ficheIntervention.dateDemande, 'yyyy-MM-dd')}" />
                        </div>


                        <div class="titre">Localisation</div>
                        <div class="test">
                            <input type="text" id="newLocalisation" name="newLocalisation"
                                th:value="${ficheIntervention.localisation}" />
                        </div>

                    </div>
                    <div class="espaceHor"></div>
                    <div class="colonnePrint">
                        <div class="titre demi">Description de la demande</div>

                        <div class="test">
                            <!-- textarea de 10 lignes-->
                            <textarea rows="10" id="newDescription" name="newDescription"
                                onkeydown="handleDescriptionKeyDown(event)"
                                th:text="${ficheIntervention.demande.Description}"></textarea>
                        </div>



                    </div>
                </fieldset>


                <div class="espaceHor"></div>
                <fieldset>
                    <legend>Intervention</legend>

                    <div class="espaceHor"></div>
                    <div>
                        <div th:switch="${ficheIntervention.niveauDateIntervention}">
                            <div th:case="0">
                                <img class="logo" src="/images/calendar.png" alt="Calendrier" />
                            </div>
                            <div th:case="1">
                                <div class="titre">Date d'intervention</div>
                                <img class="logo" src="/images/calendar.png" alt="Calendrier" />
                            </div>
                            <div th:case="2">
                                <div class="titre">Date d'intervention</div>
                            </div>
                        </div>

                        <div class="test">
                            <input type="date" id="newDateIntervention" name="newDateIntervention"
                                th:value="${#temporals.format(ficheIntervention.dateIntervention, 'yyyy-MM-dd')}" />
                        </div>

                        <div th:switch="${ficheIntervention.niveauDureeIntervention}">
                            <div th:case="0">
                                <img class="logo" src="/images/clock.png" alt="Horloge" />
                            </div>
                            <div th:case="1">
                                <div class="titre">Durée de l'opération</div>
                                <img class="logo" src="/images/clock.png" alt="Horloge" />
                            </div>
                            <div th:case="2">
                                <div class="titre">Durée de l'opération</div>
                            </div>
                        </div>

                        <div class="test">
                            <input type="text" id="newDureeIntervention" name="newDureeIntervention"
                                th:value="${ficheIntervention.dureeIntervention}" />
                        </div>
                </fieldset>
                </div>


                <div class="espaceHor"></div>

                </fieldset>
                </div>
                <div class="colonne listeCheckbox">
                    <div class="colonne1">
                        <!-- Type de Maintenance -->
                        <fieldset class="colonne1_gauche">
                            <legend>Type de Maintenance</legend>
                            <div th:each="type : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Maintenance.MaintenanceType).values()}"
                                class="demi">
                                <div class="demi">
                                    <input type="radio" id="${type}" name="maintenanceType" th:value="${type}"
                                        th:checked="${ficheIntervention.maintenance != null and ficheIntervention.maintenance.maintenanceType != null and ficheIntervention.maintenance.maintenanceType.ordinal() eq type.ordinal()}" />
                                </div>
                                <div th:switch="${ficheIntervention.NiveauMaintenanceType}">
                                    <div th:case="0">
                                        <img class="logo" th:src="${'/images/' + type.name().toLowerCase() + '.png'}"
                                            th:alt="${'/images/' + type.name().toLowerCase() + '.png'}" />
                                    </div>
                                    <div th:case="1">
                                        <div class="test">
                                            <label th:for="${type}"
                                                th:text="${#strings.capitalize(type.name().toLowerCase().replace('_', ' '))}"></label>
                                        </div>
                                        <img class="logo" th:src="${'/images/' + type.name().toLowerCase() + '.png'}"
                                            th:alt="${'/images/' + type.name().toLowerCase() + '.png'}" />
                                    </div>
                                    <div th:case="2">
                                        <div class="test">
                                            <label th:for="${type}"
                                                th:text="${#strings.capitalize(type.name().toLowerCase().replace('_', ' '))}"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Hidden input field to hold the selected maintenance type -->
                            <input type="hidden" name="newMaintenanceType"
                                th:value="${ficheIntervention.maintenance != null ? ficheIntervention.maintenance.maintenanceType : null}"
                                id="selectedMaintenanceType">
                        </fieldset>


                        <!-- Nature de l'intervention -->
                        <fieldset class="colonne1_droite">
                            <legend>Nature de l'intervention</legend>
                            <div th:each="nature : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.NatureIntervention.NatureType).values()}"
                                class="demi">
                                <div class="demi">
                                    <input type="radio" id="${nature}" name="natureIntervention" th:value="${nature}"
                                        th:checked="${ficheIntervention.natureIntervention != null and ficheIntervention.natureIntervention.natureType != null and ficheIntervention.natureIntervention.natureType.name() eq nature.name()}" />
                                </div>
                                <div th:switch="${ficheIntervention.NiveauNatureIntervention}">
                                    <div th:case="0">
                                        <img class="logo" th:src="${'/images/' + nature.name().toLowerCase() + '.png'}"
                                            th:alt="${'/images/' + nature.name().toLowerCase() + '.png'}" />
                                    </div>
                                    <div th:case="1">
                                        <div class="test">
                                            <label th:for="${nature}"
                                                th:text="${#strings.capitalize(nature.name().toLowerCase().replace('_', ' '))}"></label>
                                        </div>
                                        <img class="logo" th:src="${'/images/' + nature.name().toLowerCase() + '.png'}"
                                            th:alt="${'/images/' + nature.name().toLowerCase() + '.png'}" />
                                    </div>
                                    <div th:case="2">
                                        <div class="test">
                                            <label th:for="${nature}"
                                                th:text="${#strings.capitalize(nature.name().toLowerCase().replace('_', ' '))}"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <input type="hidden" name="newNatureType"
                                th:value="${ficheIntervention.natureIntervention != null ? ficheIntervention.natureIntervention.natureType : null}"
                                id="selectedNatureType">
                        </fieldset>

                    </div>






                </div>


                </fieldset>
                </div>

                </div>
                <div class="espaceHor"></div>
                </div>

                <fieldset class="colonne">
                    <legend th:switch="${ficheIntervention.NiveauTravauxRealises}">
                        <img th:case="0" class="logo" src="/images/check.png" alt="Fait" />
                        <span th:case="1">
                            <img class="logo" src="/images/check.png" alt="Fait" />
                            Travaux réalisés
                        </span>
                        <span th:case="2">Travaux réalisés</span>
                    </legend>
                    

                    <div class="test">
                        <input type="text" id="newTravauxRealises" name="newTravauxRealises"
                            th:value="${ficheIntervention.travauxRealises}" />
                    </div>
                </fieldset>


                <fieldset class="colonne">
                    <legend th:switch="${ficheIntervention.NiveauTravauxRealises}">
                        <img th:case="0" class="logo" src="/images/notchecked.png" alt="Non Fait" />
                        <span th:case="1">
                            <img class="logo" src="/images/notchecked.png" alt="Non Fait" />
                            Travaux non réalisés
                        </span>
                        <span th:case="2">Travaux non réalisés</span>
                    </legend>


                    <div class="test">
                        <input type="text" id="newTravauxNonRealises" name="newTravauxNonRealises"
                            th:value="${ficheIntervention.travauxNonRealises}" />
                    </div>
                </fieldset>




                <div class="espaceHor"></div>


                <div class="titre demi">
                    <div class="check">
                        <input type="checkbox" name="newNouvelleIntervention"
                            th:checked="${ficheIntervention.nouvelleIntervention}" />
                    </div>
                    <div class="droite"> <label>Nécessite une nouvelle intervention</label>
                    </div>
                </div>
                <div class="espaceHor"></div>
                <!-- Matériaux Utilisés -->

                <fieldset class="colonne">
                    <legend th:switch="${ficheIntervention.NiveauMateriauxUtilises}">
                        <img th:case="0" class="logo" src="/images/materiaux.png" alt="Matériaux" />
                        <span th:case="1">
                            <img class="logo" src="/images/materiaux.png" alt="Matériaux" />
                            Matériaux utilisés
                        </span>
                        <span th:case="2">Matériaux utilisés</span>
                    </legend>




                    <div class="noPrint"></div>
                    <div class="espaceHor"></div>
                    <div class="ligneSelectMateriaux">
                        <div th:each="i : ${#numbers.sequence(1, 6)}" class="ligneMateriaux">
                            <div class="max-width-container">
                                <select th:id="'materiauxUtilises' + ${i}" name="materiauxUtilises"
                                    class="max-width-select" th:field="*{materiauxOptions[__${i-1}__]}"
                                    onchange="updateMateriauField(this, 'selectedMateriau1')">
                                    <option value="">
                                    </option>
                                    <option
                                        th:each="materiau : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.MateriauxElectriciteListe).values()}"
                                        th:value="${materiau}" th:text="${materiau.optionName}"
                                        th:selected="${ficheIntervention.materiauxOptions[__${i-1}__] == materiau}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <input type="hidden" name="newMateriau0" id="selectedMateriau0"
                        th:value="${ficheIntervention.materiauxOptions[0]}">
                    <input type="hidden" name="newMateriau1" id="selectedMateriau1"
                        th:value="${ficheIntervention.materiauxOptions[1]}">
                    <input type="hidden" name="newMateriau2" id="selectedMateriau2"
                        th:value="${ficheIntervention.materiauxOptions[2]}">
                    <input type="hidden" name="newMateriau3" id="selectedMateriau3"
                        th:value="${ficheIntervention.materiauxOptions[3]}">
                    <input type="hidden" name="newMateriau4" id="selectedMateriau4"
                        th:value="${ficheIntervention.materiauxOptions[4]}">
                    <input type="hidden" name="newMateriau5" id="selectedMateriau5"
                        th:value="${ficheIntervention.materiauxOptions[5]}">
                    </div>
                </fieldset>
                <div class="espaceHor"></div>
                <div class="espaceHor"></div>


                <div id="my-icon-select"></div>


                <input class="submit" type="submit" value="Terminer" />
            </form>
        </main>





        <script th:inline="javascript">
            /* <![CDATA[ */
            function updateMateriauField(selectElement, textFieldId) {
                var selectedValue = selectElement.value;
                var index = selectElement.id.replace('materiauxUtilises', '') - 1;
                document.getElementById('selectedMateriau' + index).value = selectedValue;
            }

            document.addEventListener('DOMContentLoaded', function () {
                var selectElements = document.querySelectorAll('select[name="materiauxUtilises"]');

                selectElements.forEach(function (select) {
                    select.addEventListener('change', function () {
                        updateMateriauField(select, 'selectedMateriau' + select.id.replace('materiauxUtilises', ''));
                    });
                });
            });
            /* ]]> */
        </script>

        <script th:inline="javascript">
            /* <![CDATA[ */
            document.addEventListener('DOMContentLoaded', function () {
                var natureRadioButtons = document.querySelectorAll('input[name="natureIntervention"]');
                var natureHiddenInput = document.getElementById('selectedNatureType');

                natureRadioButtons.forEach(function (radioButton) {
                    radioButton.addEventListener('change', function () {
                        if (this.checked) {
                            natureHiddenInput.value = this.value;
                        }
                    });
                });
            });
            /* ]]> */
        </script>

        <script th:inline="javascript">
            /* <![CDATA[ */
            document.addEventListener('DOMContentLoaded', function () {
                var radioButtons = document.querySelectorAll('input[name="maintenanceType"]');
                var hiddenInput = document.getElementById('selectedMaintenanceType');

                radioButtons.forEach(function (radioButton) {
                    radioButton.addEventListener('change', function () {
                        if (this.checked) {
                            hiddenInput.value = this.value;
                        }
                    });
                });
            });
            /* ]]> */
        </script>


    </body>

</html>