<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<!--Bootstrap html form-->

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Formulaire Bootstrap</title>
   <link rel="icon" type="image/x-icon"
      href="https://upload.wikimedia.org/wikipedia/commons/e/e9/Minsk_Metro_Line_3.png" />
   <style>
      .logo {
         width: 1.5rem;
         height: 1.5rem;
      }

      .imageListe {
         max-height: 20vh;
         max-width: 100%;
         object-fit: contain;
      }

      .images-selector {
         display: none;
         height: fit-content;
         max-height: 80vh;
         flex-wrap: wrap;
         justify-content: center;
         gap: 10px;
         position: fixed;
         top: 5%;
         left: 5%;
         right: 5%;
         bottom: 5%;
         background-color: rgb(255, 255, 255);
         z-index: 999;
         overflow: auto;
         grid-template-columns: repeat(3, 1fr);
         gap: 10px;
         max-width: 85vw;
         margin: 0 auto;
         border-radius: 3%;
      }
   </style>

</head>

<body>

   <div class="container">

      <section class="jumbotron text-center">
         <div class="container">
            <h1 class="jumbotron-heading">FICHE D'INTERVENTION N°
               <span th:text="${ficheIntervention.id}"></span>&nbsp;:&nbsp;
               <span th:if="${ficheIntervention.intervention != null}"
                  th:text="${ficheIntervention.intervention.typeIntervention}"></span>
            </h1>
         </div>
      </section>


      <form method="post" th:action="@{/updateFiche/{id}(id=${ficheIntervention.id})}" th:object="${ficheIntervention}">
         <!--------------------------Intervenant--------------------------------------->
         <hr />


         <h4 class="mb-3">Intervenant </h4>
         <div class="row">
            <div class="col-md-6 mb-3">
               <label for="firstName">Prénom</label>
               <input type="text" class="form-control" id="firstName" placeholder=""
                  th:value="${ficheIntervention.utilisateur.nom}" required="">
               <div class="invalid-feedback">
                  Un prénom valide est requis.
               </div>
            </div>
            <div class="col-md-6 mb-3">
               <label for="lastName">Nom</label>
               <input type="text" class="form-control" id="lastName" placeholder=""
                  th:value="${ficheIntervention.utilisateur.prenom}" required="">
               <div class="invalid-feedback">
                  Un nom valide est requis.
               </div>
            </div>
         </div>


         <!--------------------------Demande--------------------------------------->
         <hr />

         <h4 class="mb-3">Demande </h4>
         <div class="row">
            <div class="col-md-6 mb-3">
               <label for="disabledNomDemandeur">Nom du demandeur</label>
               <input type="text" id="disabledNomDemandeur" class="form-control"
                  th:placeholder="${ficheIntervention.demande.NomDemandeur}" disabled>
               <label for="disabledDegreUrgence">Degré d'urgence</label>
               <input type="text" id="disabledDegreUrgence" class="form-control"
                  th:placeholder="${ficheIntervention.degreUrgence}" disabled>
            </div>
            <div class="col-md-6 mb-3">
               <label for="disabledDateDemande">Date de la demande !! corriger format</label>
               <input type="text" id="disabledDateDemande" class="form-control"
                  th:placeholder="${ficheIntervention.dateDemande}" disabled>
               <label for="disabledLocalisation">Localisation</label>
               <input type="text" id="disabledLocalisation" class="form-control"
                  th:placeholder="${ficheIntervention.localisation}" disabled>
            </div>
         </div>
         <div>
            <div class="form-group">

               <label for="disabledDescription">Description</label>
               <textarea rows="10" id="disabledDescription" class="form-control"
                  th:placeholder="${ficheIntervention.demande.Description}" disabled></textarea>
            </div>
         </div>


         <!--------------------------Intervention--------------------------------------->
         <hr />

         <h4 class="mb-3">Intervention </h4>
         <div class="row">
            <div class="col-md-6 mb-3">
               <label for="newDateIntervention">Date de l'intervention !! à corriger</label>
               <input type="date" id="newDateIntervention" name="newDateIntervention" class="form-control"
                  th:value="${#temporals.format(ficheIntervention.dateIntervention, 'yyyy-MM-dd')}" />
               <label for="newDureeIntervention">Durée de l'intervention</label>
               <input type="text" id="newDureeIntervention" name="newDureeIntervention" class="form-control"
                  th:value="${ficheIntervention.dureeIntervention}">
            </div>
            <div class="col-md-6 mb-3">
               <label for="newMaintenanceType">Type de maintenance</label>
               <div id="newMaintenanceType"
                  th:each="type : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Maintenance.MaintenanceType).values()}">
                  <div class="media form-check">
                     <input class="form-check-input" type="radio" name="maintenanceType" th:value="${type}"
                        id="${type.name()}"
                        th:checked="${ficheIntervention.maintenance != null and ficheIntervention.maintenance.maintenanceType != null and ficheIntervention.maintenance.maintenanceType.ordinal() eq type.ordinal()}" />
                     <img class="align-self-start mr-3 logo" th:src="${'/images/' + type.name().toLowerCase() + '.png'}"
                        th:alt="${'/images/' + type.name().toLowerCase() + '.png'}">
                     <label th:for="${type}"
                        th:text="${#strings.capitalize(type.name().toLowerCase().replace('_', ' '))}"></label>
                  </div>
               </div>
               <!--Champ  caché pour stocker la nouvelle valeur -->
               <input type="hidden" name="newMaintenanceType"
                  th:value="${ficheIntervention.maintenance != null ? ficheIntervention.maintenance.maintenanceType : null}"
                  id="selectedMaintenanceType">
            </div>

            <div class="col-md-6 mb-3">
               <label for="disabledTypeIntervention">Type d'intervention</label>
               <div id="disabledTypeIntervention"
                  th:each="nature : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Intervention.TypeIntervention).values()}">
                  <div class="media form-check">
                     <input class="form-check-input" type="radio" name="intervention" th:value="${nature.name()}"
                        id="${nature}"
                        th:checked="${ficheIntervention.Intervention != null and ficheIntervention.typeIntervention != null and ficheIntervention.typeIntervention eq nature.name()}" />
                     <img class="align-self-start mr-3 logo"
                        th:src="${'/images/' + nature.name().toLowerCase() + '.png'}"
                        th:alt="${'/images/' + nature.name().toLowerCase() + '.png'}" />
                     <label th:for="${nature}"
                        th:text="${#strings.capitalize(nature.name().toLowerCase().replace('_', ' '))}"></label>
                  </div>
               </div>
               <input type="hidden" name="newNatureType"
                  th:value="${ficheIntervention.intervention != null ? ficheIntervention.intervention.typeIntervention : null}"
                  id="selectedNatureType">
            </div>
         </div>

         <!--------------------------Travaux réalisés--------------------------------------->
         <hr />
         <legend th:switch="${ficheIntervention.NiveauTravauxRealises}">
            <img th:case="0" class="logo" src="/images/check.png" alt="Fait" />
            <h4 th:case="1" class="mb-3"><img class="logo" src="/images/check.png" alt="Fait" />Travaux réalisés </h4>
            <h4 th:case="2" class="mb-3">Travaux réalisés</h4>
         </legend>
         <div class="form-group">
            <textarea rows="10" id="newTravauxRealises" class="form-control" name="newTravauxRealises"
               th:text="${ficheIntervention.travauxRealises}" onkeydown="handleDescriptionKeyDown(event)"></textarea>
         </div>

         <!--------------------------Travaux NON réalisés--------------------------------------->
         <hr />
         <legend th:switch="${ficheIntervention.NiveauTravauxRealises}">
            <img th:case="0" class="logo" src="/images/notchecked.png" alt="Fait" />
            <h4 th:case="1" class="mb-3"><img class="logo" src="/images/notchecked.png" alt="Pas fait" />Travaux non
               réalisés </h4>
            <h4 th:case="2" class="mb-3">Travaux réalisés</h4>
         </legend>
         <div class="form-group">
            <textarea rows="10" class="form-control" id="newTravauxNonRealises" name="newTravauxNonRealises"
               onkeydown="handleDescriptionKeyDown(event)" th:text="${ficheIntervention.travauxNonRealises}"></textarea>
         </div>

         <!--------------------------Matériaux--------------------------------------->
         <hr />
         <legend th:switch="${ficheIntervention.NiveauMateriauxUtilises}">
            <img th:case="0" class="logo" src="/images/materiaux.png" alt="Materiaux" />
            <h4 th:case="1" class="mb-3"><img class="logo" src="/images/materiaux.png" alt="Materiaux" />Materiaux</h4>
            <h4 th:case="2" class="mb-3">Materiaux</h4>
         </legend>

         <!-- Affichage des dropdown si NiveauMateriauxUtilises vaut 2 -->
         <div th:if="${ficheIntervention.NiveauMateriauxUtilises == 2}">
            <div class="row">
               <div th:each="i : ${#numbers.sequence(0,5)}" class="form-group">

                  <div class="col">
                     <label for="exampleFormControlSelect1" class="form-label">Materiau</label>
                     <span th:text="${i}+1"></span>
                     <select th:id="'exampleFormControlSelect' + ${i}" name="materiauxUtilises" class="form-control">
                        <option value=""></option>
                        <option th:each="element, status : ${materiauxAmenagementList}" th:value="${element.nomImage}"
                           th:text="${element.nomImage}"
                           th:selected="${ficheIntervention.materiauxOptions != null and ficheIntervention.materiauxOptions.size() > i and ficheIntervention.materiauxOptions[i] == element.nomImage}">
                        </option>
                     </select>
                  </div>
               </div>
            </div>
         </div>


         <!-- Affichage des images et texte si NiveauMateriauxUtilises vaut 1 -->



         <div class="materiaux_vertical" th:if="${ficheIntervention.NiveauMateriauxUtilises == 1}">
            Niveau 1
            <div class="noPrint"></div>
            <div class="container">
               <div class="row">
                  <th:block th:each="sectionNumber : ${#numbers.sequence(0,5)}">
                     <div class="col-md-6 mb-3 " style="padding: 1rem;">



                        <div class="input-group">
                           <div class="input-group-prepend">
                              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                 th:attr="data-target='#exampleModalCenter' + ${sectionNumber}">
                                 Selectionner le matériau <span th:text="${sectionNumber + 1}"></span>
                              </button>
                           </div>
                           <input type="text" class="form-control" aria-describedby="basic-addon2"
                              th:value="${ficheIntervention.materiauxOptions != null 
                              and ficheIntervention.materiauxOptions.size() > sectionNumber ? ficheIntervention.materiauxOptions[sectionNumber] : ''}"
                              th:id="'newMateriau' + ${sectionNumber}" th:name="'newMateriau' + ${sectionNumber}">
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" th:id="'exampleModalCenter' + ${sectionNumber}" tabindex="-1"
                           role="dialog" aria-labelledby="'exampleModalCenterTitle' + ${sectionNumber}"
                           aria-hidden="true">
                           <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Selectionner le matériau <span th:text="${sectionNumber + 1}"></span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                    <div th:id="'material-dropdown' + ${sectionNumber}">
                                       <!--Bouton effacer-->
                                       <button class="clear-button" type="button"
                                          th:onclick="'clearInput(\'newMateriau' + ${sectionNumber} + '\');refresh_images_selectionnees();'">Aucun</button>


                                          <div class="container-fluid">
                                             <div class="row d-flex align-items-stretch">
                                                 <!--Cardimages-->
                                                 <div class="col-md-6 mb-4 flex-fill" style="max-width: 300px;"
                                                     th:each="element, status : ${materiauxAmenagementList}">
                                                     <label class="card cardimage d-flex flex-column align-items-center h-100">
                                                         <div style="max-width: 100%;min-width: 100%;min-height: 100%;max-height: 100%;">
                                                             <img class="imageListe d-block mx-auto"
                                                                 th:src="@{'/' + ${element.imageUrl}}" alt="Image" />
                                         
                                                             <span class="text-center" th:text="${element.nomImage}"></span>
                                                             <input type="radio" name="materialRadio"
                                                                 th:value="${element.nomImage}"
                                                                 th:id="'radio_' + ${sectionNumber} + '_' + ${status.index}"
                                                                 onclick="displaySelectedImage(this)">
                                                         </div>
                                                     </label>
                                                 </div>
                                             </div>
                                         </div> 





                                    </div>

                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                              </div>
                           </div>
                        </div>





                        <div class="w-100"></div>
                        <img th:id="'selected-image_' + ${sectionNumber}" alt="image selectionnée"
                           style="max-height: 15vh; max-width: 80vw; height: 100%; object-fit: contain;margin: 1rem;"
                           class="rounded mx-auto d-block">
                     </div>
                  </th:block>
               </div>
            </div>


            <!--------------------------Nouvelle Intervention--------------------------------------->
            <hr />
            <div class="form-check">
               <input class="form-check-input" type="checkbox" name="newNouvelleIntervention"
                  th:checked="${ficheIntervention.nouvelleIntervention}" id="nouvelleIntervention" />
               <label class="form-check-label" for="nouvelleIntervention">
                  Nécessite une nouvelle intervention
               </label>
            </div>

         </div>

         <div class="submit-container">
            <input class="submit" type="submit" value="Terminer" />
         </div>


      </form>



      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script th:inline="javascript">
         /* <![CDATA[ */
         function updateMateriauField(selectElement, textFieldId) {
            var selectedValue = selectElement.value;
            var index = selectElement.id.replace('materiauxUtilises', '');
            document.getElementById('selectedMateriau' + index).value = selectedValue;
         }

         function handleRadioButtonChange(radioButtons, hiddenInput) {
            radioButtons.forEach(function (radioButton) {
               radioButton.addEventListener('change', function () {
                  if (this.checked) {
                     hiddenInput.value = this.value;
                  }
               });
            });
         }

         function displaySelectedImage(radioInput) {




            // Récupérer l'URL de l'image
            var imageUrl = radioInput.parentElement.querySelector('.imageListe').src;

            // Récupérer le sectionNumber de l'image sélectionnée
            var sectionNumber = radioInput.id.split('_')[1];

            var inputNewMaterial = 'newMateriau' + sectionNumber;

            // Mettre à jour le champ caché
            document.getElementById(inputNewMaterial).value = radioInput.value;

            // Récupérer l'élément 'selected-image' avec le sectionNumber
            var selectedImage = document.getElementById('selected-image_' + sectionNumber);

            // Mettre à jour l'URL de l'image
            selectedImage.src = imageUrl;
         }

         //clic sur la croix pour effacer le texte
         function clearInput(inputId) {
            document.getElementById(inputId).value = '';
         }

         function closeMaterialSelector(button) {
            var imageSelector = button.closest('.images-selector');
            imageSelector.style.display = 'none';
         }

         function refresh_images_selectionnees() {
            //afficher les images selectionnées au démarrage de la page
            var materiauOptions = document.querySelectorAll('[id^="newMateriau"]');
            materiauOptions.forEach(function (materiauOption) {
               var sectionNumber = materiauOption.id.replace('newMateriau', '');

               // Sélectionnez le bouton radio dans le contexte de la section correspondante
               var radioToCheck = document.querySelector('#material-dropdown' + sectionNumber + ' input[type="radio"][value="' + materiauOption.value + '"]');


               if (radioToCheck) {
                  radioToCheck.checked = true;
                  displaySelectedImage(radioToCheck);
               } else {
                  document.getElementById('selected-image_' + sectionNumber).src = '/images/notchecked.png';
               }
            });
         }

         document.addEventListener('DOMContentLoaded', function () {


            refresh_images_selectionnees();





            var selectElements = document.querySelectorAll('select[name="materiauxUtilises"]');

            selectElements.forEach(function (select) {
               select.addEventListener('change', function () {
                  updateMateriauField(select, 'newMateriau' + select.id.replace('materiauxUtilises', ''));
               });
            });

            var natureRadioButtons = document.querySelectorAll('input[name="intervention"]');
            var natureHiddenInput = document.getElementById('selectedNatureType');

            natureRadioButtons.forEach(function (radioButton) {
               radioButton.addEventListener('change', function () {
                  if (this.checked) {
                     natureHiddenInput.value = this.value;
                  }
               });
            });



            var radioButtons = document.querySelectorAll('input[name="maintenanceType"]');
            var hiddenInput = document.getElementById('selectedMaintenanceType');

            radioButtons.forEach(function (radioButton) {
               radioButton.addEventListener('change', function () {
                  if (this.checked) {
                     hiddenInput.value = this.value;
                  }
               });
            });

            var showMaterialsBtns = document.querySelectorAll('.show-materials-btn');
            var hiddenInputs = document.querySelectorAll('[id^="newMateriau"]');

            function showMaterialSelector(button) {
               var targetId = button.getAttribute('data-target');
               var imageSelector = document.getElementById(targetId);
               var sectionNumber = targetId.replace('material-dropdown', '');

               imageSelector.style.display = 'grid';
               var radioButtons = imageSelector.querySelectorAll('input[type="radio"]');

               radioButtons.forEach(function (radioButton) {
                  radioButton.addEventListener('change', function () {
                     if (this.checked) {
                        var selectedMaterial = this.value;
                        document.getElementById('newMateriau' + sectionNumber).value = selectedMaterial;
                        imageSelector.style.display = 'none';
                     }
                  });
               });

               // Ajouter le code pour cocher le bouton radio au chargement de la page
               var materiauOption = document.getElementById('newMateriau' + sectionNumber).value;
               if (materiauOption) {
                  var radioToCheck = imageSelector.querySelector('input[type="radio"][value="' + materiauOption + '"]');
                  if (radioToCheck) {
                     radioToCheck.checked = true;
                  }
               }
            }

            showMaterialsBtns.forEach(function (btn) {
               btn.addEventListener('click', function () {
                  showMaterialSelector(this);
               });
            });

            var closeMaterialSelectors = document.querySelectorAll('.close-btn');
            closeMaterialSelectors.forEach(function (btn) {
               btn.addEventListener('click', function () {
                  closeMaterialSelector(this);
               });
            });
         });
         /* ]]> */
      </script>

</body>

</html>