<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" xml:lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <title>Créer une Fiche</title>
    <link rel="icon" type="image/x-icon"
        href="https://upload.wikimedia.org/wikipedia/commons/e/e9/Minsk_Metro_Line_3.png" />


    <style>
        .logo {
            width: 1.5rem;
            height: 1.5rem;
        }

        .imageListe {
            max-height: 20vh;
            max-width: 100%;
            object-fit: contain;
            margin: 1rem;
        }

        .images-selector {
            display: none;
            height: fit-content;
            max-height: 80vh;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            position: fixed;
            top: 5%;
            left: 5%;
            right: 5%;
            bottom: 5%;
            background-color: rgb(255, 255, 255);
            z-index: 999;
            overflow: auto;
            grid-template-columns: repeat(3, 1fr);
            max-width: 85vw;
            margin: 0 auto;
            border-radius: 3%;
        }
    </style>

</head>

<body>
    <div class="container">
        <section class="h-100 p-5 text-white bg-dark rounded-3" style="margin-top: calc(var(--bs-gutter-x) * .5);">
            <div class="container">
                <h1 class="display-4">CREER UNE NOUVELLE FICHE D'INTERVENTION
                </h1>
            </div>
        </section>


        <form th:action="@{/ajouter_fiche}" th:object="${fiche}" method="post" id="ficheForm" class="fiche-form">


            <div class="titre">Selectionner l'intervenant</div>
            <div class="test">
                <select class="form-select" id="utilisateur" name="utilisateur.id" th:field="*{utilisateur.id}">
                    <option th:each="user : ${users}" th:value="${user.id}"
                        th:text="${user.nom} + ' ' + ${user.prenom}"></option>
                </select>
            </div>

            <!--------------------------Intervenant--------------------------------------->
            <hr />

            <legend>
                <div class="row align-items-center">
                    <div class="col-auto d-flex align-items-center">
                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#imageNiveauIntervenant" aria-expanded="false"
                            aria-controls="imageNiveauIntervenant">
                            <img class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
                        </button>
                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#couleurTitreIntervenant" aria-expanded="false"
                            aria-controls="couleurTitreIntervenant">
                            <h2 id="IntervenantTitre" class="display-5">Intervenant</h2>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="imageNiveauIntervenant">
                                <div class="card card-body">
                                    INTERVENANT IMAGE ET NIVEAU
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="couleurTitreIntervenant">
                                <div class="card card-body">
                                    <div class="col-auto d-flex align-items-center"><input type="color" id="colorPicker"
                                            value="#000000">Couleur du titre Intervenant</div>
                                    <div class="test">
                                        <input type="hidden" id="IntervenantTitreHidden" name="IntervenantTitreHidden"
                                            th:field="*{Intervenant.couleurTitreIntervenant}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </legend>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#couleurPrenom"
                        aria-expanded="false" aria-controls="couleurPrenom">
                        <label for="firstName">Prénom</label>
                    </button>
                    <div class="col">
                        <div class="collapse multi-collapse" id="couleurPrenom">
                            <div class="card card-body">
                                COULEUR PRENOM
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="firstName" placeholder="" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#couleurNom"
                        aria-expanded="false" aria-controls="couleurNom">
                        <label for="lastName">Nom</label>
                    </button>
                    <div class="col">
                        <div class="collapse multi-collapse" id="couleurNom">
                            <div class="card card-body">
                                COULEUR NOM
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="lastName" placeholder="" disabled>
                </div>
            </div>

            <!--------------------------Demande--------------------------------------->

            <legend>
                <div class="row align-items-center">
                    <div class="col-auto d-flex align-items-center">
                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#imageNiveauDemande" aria-expanded="false"
                            aria-controls="imageNiveauDemande">
                            <img class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
                        </button>
                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#couleurTitreDemande" aria-expanded="false"
                            aria-controls="couleurTitreDemande">
                            <h2 id="DemandeTitre" class="display-5">Demande</h2>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="imageNiveauDemande">
                                <div class="card card-body">
                                    DEMANDE IMAGE ET NIVEAU
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="couleurTitreDemande">
                                <div class="card card-body">
                                    <div class="col-auto d-flex align-items-center"><input type="color" id="colorPicker"
                                            value="#000000"> Couleur du titre Demande</div>
                                    <div class="test">
                                        <input type="hidden" id="IntervenantTitreHidden" name="IntervenantTitreHidden"
                                            th:field="*{Intervenant.couleurTitreIntervenant}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </legend>


            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="disabledNomDemandeur">Nom du demandeur</label>
                    <input type="text" id="disabledNomDemandeur" class="form-control"
                        th:field="*{demande.nomDemandeur}">
                    <label for="disabledDegreUrgence">Degré d'urgence</label>
                    <input type="text" id="disabledDegreUrgence" class="form-control"
                        th:field="*{demande.degreUrgence}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="disabledDateDemande">Date de la demande</label>
                    <input type="date" id="disabledDateDemande" name="disabledDateDemande" class="form-control"
                        th:field="*{demande.dateDemande}" />

                    <label for="disabledLocalisation">Localisation</label>
                    <input type="text" id="disabledLocalisation" class="form-control"
                        th:field="*{demande.localisation}">
                </div>
            </div>
            <div>
                <div class="form-group">

                    <label for="disabledDescription">Description</label>
                    <textarea rows="10" id="disabledDescription" class="form-control"
                        th:field="*{demande.description}"></textarea>
                </div>
            </div>



            <!--------------------------Intervention--------------------------------------->


            <legend>

                <div class="row align-items-center">
                    <div class="col-auto">
                        <img class="display-5" src="/images/check.png" alt="Fait" style="height: 1em;" />
                    </div>
                    <div class="col-auto">
                        <h2 class="display-5">Intervention</h2>
                    </div>
                </div>
            </legend>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="newDateIntervention">Date de
                        l'intervention</label>
                    <input type="date" id="newDateIntervention" name="newDateIntervention" class="form-control" />
                    <label for="newDureeIntervention">Durée de
                        l'intervention</label>
                    <input type="text" id="newDureeIntervention" name="newDureeIntervention" class="form-control">
                </div>


                <div class="col-md-4 mb-3">
                    <label for="disabledTypeIntervention">Type
                        d'intervention</label>
                    <div id="disabledTypeIntervention"
                        th:each="nature : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Intervention.TypeIntervention).values()}">
                        <div class="media form-check">
                            <input class="form-check-input" type="radio" name="intervention" th:value="${nature.name()}"
                                th:id="${'radio-' + nature}" />
                            <img class="align-self-start mr-3 logo"
                                th:src="${'/images/' + nature.name().toLowerCase() + '.png'}"
                                th:alt="${'/images/' + nature.name().toLowerCase() + '.png'}" />
                            <label th:for="${'radio-' + nature}"
                                th:text="${#strings.capitalize(nature.name().toLowerCase().replace('_', ' '))}"></label>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 mb-3">
                    <label for="newMaintenanceType">Type de
                        maintenance</label>
                    <div id="newMaintenanceType"
                        th:each="type : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Maintenance.MaintenanceType).values()}">
                        <div class="media form-check">
                            <input class="form-check-input" type="radio" name="maintenanceType" th:value="${type}"
                                th:id="${'radio-' + type.name()}" />
                            <img class="align-self-start mr-3 logo"
                                th:src="${'/images/' + type.name().toLowerCase() + '.png'}"
                                th:alt="${'/images/' + type.name().toLowerCase() + '.png'}">
                            <label th:for="${'radio-' + type.name()}"></label>
                        </div>
                    </div>
                </div>



            </div>



            <div class="espaceHor"></div>


            <div class="espaceHor"></div>


            <fieldset>
                <legend>Intervention</legend>



                <div>

                    <div class="titre">Date Intervention</div>
                    <div class="test">
                        <select id="NiveauDateIntervention" name="NiveauDateIntervention"
                            th:field="${fiche.intervention.NiveauDateIntervention}">
                            <option value="0">Icone</option>
                            <option value="1">Icone et texte</option>
                            <option value="2">Texte</option>
                        </select>
                    </div>
                    <div class="titre">Duree Intervention</div>
                    <div class="test">
                        <select id="NiveauDureeIntervention" name="NiveauDureeIntervention"
                            th:field="${fiche.intervention.NiveauDureeIntervention}">
                            <option value="0">Icone</option>
                            <option value="1">Icone et texte</option>
                            <option value="2">Texte</option>
                        </select>
                    </div>
                </div>


            </fieldset>





            <fieldset>
                <legend>Type de maintenance</legend>
                <div>
                    <div class="titre">Maintenance Type</div>
                    <div class="test">
                        <select id="NiveauMaintenanceType" name="NiveauMaintenanceType"
                            th:field="${fiche.maintenance.NiveauMaintenanceType}">
                            <option value="0">Icone</option>
                            <option value="1">Icone et texte</option>
                            <option value="2">Texte</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Nature de l'intervention</legend>
                <div>
                    <div class="titre">Nature Intervention</div>
                    <div class="test">
                        <select id="NiveauNatureIntervention" name="NiveauNatureIntervention"
                            th:field="${fiche.NiveauNatureIntervention}">
                            <option value="0">Icone</option>
                            <option value="1">Icone et texte</option>
                            <option value="2">Texte</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Travaux (non) réalisés</legend>
                <div>
                    <div class="titre">Travaux Realises</div>
                    <div class="test">
                        <select id="NiveauTravauxRealises" name="NiveauTravauxRealises"
                            th:field="${fiche.NiveauTravauxRealises}">
                            <option value="0">Icone</option>
                            <option value="1">Icone et texte</option>
                            <option value="2">Texte</option>
                        </select>
                    </div>
                </div>
            </fieldset>


            <fieldset>
                <legend>Matériaux utilisés</legend>
                <div>
                    <div class="titre">Materiaux Utilises</div>
                    <div class="test">
                        <select id="NiveauMateriauxUtilises" name="NiveauMateriauxUtilises"
                            th:field="${fiche.NiveauMateriauxUtilises}">
                            <option value="0">Icone</option>
                            <option value="1">Icone et texte</option>
                            <option value="2">Texte</option>
                        </select>
                    </div>
                </div>
            </fieldset>



            <div class="espaceHor"></div>


            <button type="submit">Submit</button>
        </form>
        </main>

    </div>
</body>
<script>

    //Changer la couleur du titre Intervenant
    document.getElementById('colorPicker').addEventListener('change', function () {
        document.getElementById('IntervenantTitre').style.color = this.value;
        document.getElementById('IntervenantTitreHidden').value = this.value;
    });


    document.addEventListener('DOMContentLoaded', function () {
        const dateDemandeInput = document.getElementById('dateDemande');

        dateDemandeInput.addEventListener('input', function () {
            let inputValue = dateDemandeInput.value;
            if (inputValue.length === 2 || inputValue.length === 5) {
                inputValue += '/';
            }

            if (inputValue.length > 10) {
                inputValue = inputValue.slice(0, 10);
            }

            dateDemandeInput.value = inputValue;
        });
    });

    // Add this script to format all date inputs when the page is loaded
    document.addEventListener('DOMContentLoaded', function () {
        const dateInputs = document.querySelectorAll('input[type="date"]');
        dateInputs.forEach(function (input) {
            input.value = formatDate(input.value);
        });
    });

    // Function to format date as dd/MM/yyyy
    function formatDate(dateString) {
        const date = new Date(dateString);
        const day = date.getDate().toString().padStart(2, '0');
        const month = (date.getMonth() + 1).toString().padStart(2, '0');
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
    }
</script>


</html>