<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ajouter un Utilisateur à une Formation</title>
    <!-- Ajoutez ici vos références CSS -->
</head>

<body>
    <h2>Liste des Formations et Utilisateurs</h2>

    <!-- Affichage des messages de succès ou d'erreur -->
    <div th:if="${success}">
        <p th:text="${success}" style="color: green;"></p>
    </div>
    <div th:if="${error}">
        <p th:text="${error}" style="color: red;"></p>
    </div>

    <!-- Boucle sur les formations -->
    <div th:each="formation : ${formations}">
        <p>
            <span th:text="${formation.nom}"></span> : <span th:text="${formation.niveau_qualif}"></span> : <span th:text="${formation.description}"></span>
        </p>
        <ul>
            <li th:each="utilisateur : ${formation.utilisateurs}"
                th:text="${utilisateur.nom} + ' ' + ${utilisateur.prenom}"></li>
        </ul>
    </div>

    <h3>Ajouter un Utilisateur d'une Formation</h3>
    <form action="/formation/ajouterUtilisateur" method="post">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <select name="formationId">
            <option th:each="formation : ${formations}" th:value="${formation.id}" th:text="${formation.nom}"></option>
        </select>
        <select name="utilisateurId">
            <option th:each="utilisateur : ${utilisateurs}" th:value="${utilisateur.id}"
                th:text="${utilisateur.nom} + ' ' + ${utilisateur.prenom}"></option>
        </select>
        <button type="submit">Ajouter Utilisateur à la Formation</button>
    </form>

    <h3>Retirer un Utilisateur d'une Formation</h3>
    <form action="/formation/retirerUtilisateur" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <label for="formationIdRetirer">Formation:</label>
        <select id="formationIdRetirer" name="formationId">
            <option th:each="formation : ${formations}" th:value="${formation.id}" th:text="${formation.nom}"></option>
        </select>

        <label for="utilisateurIdRetirer">Utilisateur:</label>
        <select id="utilisateurIdRetirer" name="utilisateurId">
            <option th:each="utilisateur : ${utilisateurs}" th:value="${utilisateur.id}"
                th:text="${utilisateur.nom} + ' ' + ${utilisateur.prenom}"></option>
        </select>

        <button type="submit">Retirer Utilisateur</button>
    </form>

    <h3>Ajouter une Formation</h3>
    <form action="/formation/ajouterFormation" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required>

        <label for="niveau_qualif">Niveau Qualification:</label>
        <input type=text id="niveau_qualif" name="niveau_qualif" required></input>

        <label for="description">Description:</label>
        <input type=text id="description" name="description"></input>

        <button type="submit">Ajouter</button>
    </form>

    <!-- List of formations with delete option -->
    <h3>Liste des Formations Pour Supprimer</h3>
    <ul>
        <li th:each="formation : ${formations}">
            <span th:text="${formation.nom}"></span>
            <form th:action="@{/formation/supprimerFormation}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="formationId" th:value="${formation.id}">
                <button type="submit">Supprimer</button>
            </form>
        </li>
    </ul>
</body>

</html>