<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Materiaux</title>

    <style>
        .max-width-10vh img {
            max-width: 10vh;
        }

        .success {
            color: green;
            font-size: 1.5em;
        }

        .error {
            color: red;
            font-size: 1.5em;
        }

        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid black;
            padding: 0.5em;
        }
    </style>
</head>

<body>
    <h2>Tous les Materiaux </h2>

    <!-- afficher les messages de succès ou d'erreur -->
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}" style="color: green;"></p>
    </div>
    <div th:if="${errorMessage}" class="error">
        <p th:text="${errorMessage}" style="color: red;"></p>
    </div>

    <!-- Champs de recherche -->
    <label for="searchMaterial">Rechercher :</label>
    <input type="text" id="searchMaterial" name="searchMaterial" placeholder="Nom du matériau" oninput="searchMaterial()">

    <label for="typeDropdown">Type de matériau :</label>
    <select id="typeDropdown" name="typeDropdown" onchange="searchMaterialByType()">
        <option value="">Tous</option>
        <th:block th:each="type : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Intervention$TypeIntervention).values()}">
            <option th:value="${type}" th:text="${type}"></option>
        </th:block>
    </select>

    <button type="button" onclick="window.location.href='/materiaux/ajouter'">Ajouter un materiau</button>

    <table aria-label="Table des materiaux">
        <thead>
            <tr>
                <th>Nom du materiau</th>
                <th>Image</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="materialTableBody">
            <tr th:each="image : ${allImages}">
                <td th:text="${image.nomImage}"></td>
                <td class="max-width-10vh">
                    <img th:src="@{'/' + ${image.imageUrl}}" alt="Image" id="imageDetails_${image.id}"
                        th:attr="data-nomImage=${image.nomImage}, data-imageUrl=${image.imageUrl}" />
                </td>
                <td th:text="${image.typeIntervention}"></td>
                <td>
                    <a th:href="@{/materiaux/modifier/{id}(id=${image.id})}">Modifier</a>
                    <a th:href="@{/materiaux/supprimer/{id}(id=${image.id})}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>

    <script>
        function searchMaterial() {
            var searchValue = document.getElementById('searchMaterial').value.toLowerCase();
            var materialRows = document.getElementById('materialTableBody').getElementsByTagName('tr');

            for (var i = 0; i < materialRows.length; i++) {
                var materialName = materialRows[i].getElementsByTagName('td')[0].innerText.toLowerCase();

                if (materialName.includes(searchValue)) {
                    materialRows[i].style.display = '';
                } else {
                    materialRows[i].style.display = 'none';
                }
            }
        }

        function searchMaterialByType() {
            var selectedType = document.getElementById('typeDropdown').value.toLowerCase();
            var materialRows = document.getElementById('materialTableBody').getElementsByTagName('tr');

            for (var i = 0; i < materialRows.length; i++) {
                var materialType = materialRows[i].getElementsByTagName('td')[2].innerText.toLowerCase();

                if (selectedType === '' || materialType === selectedType) {
                    materialRows[i].style.display = '';
                } else {
                    materialRows[i].style.display = 'none';
                }
            }
        }
    </script>
</body>

</html>
