<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Liste des Redirections</title>
    <style>
        .button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        .button-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .button-container div {
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <h1>Liste des Redirections :</h2>


    
    <h2>Accueil</h2>
    <div class="button-container">
        <a href="/" class="button">Accueil</a>
    </div>
    <div class="button-container">
        <a href="/accueil_admin" class="button">Accueil Admin</a>
    </div>
    <div class="button-container">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Déconnexion</button>
        </form>
    </div>

    <h2>Apprenti</h2>
    <div class="button-container">
        <a href="/utilisateur/nouveau" class="button">Ajouter Apprenti</a>
    </div>
    <div class="button-container">
        <a href="/profil_apprenti/2" class="button">Profil Apprenti</a>
    </div>
    


    <div class="button-container">
        <a href="/suivi_progression/2" class="button">Suivi de Progression</a>
    </div>
    

    <div class="button-container">
        <a href="/select_fiche" class="button">Sélectionner Fiche</a>
    </div>
    <div class="button-container">
        <a href="/mdp_oublie" class="button">Mot de Passe Oublié</a>
    </div>

    <h2>Commentaires audios :</h2>
    <div class="button-container">
        <a href="/record/1" class="button">Record</a>
    </div>
    <div class="button-container">
        <a href="/recordaffichage/1" class="button">Record Affichage</a>
    </div>


    <h2>Fiches :</h2>
    <div class="button-container">
        <a href="/fiche/1" class="button">Afficher fiche no1</a>
    </div>
    <div class="button-container">
        <a href="/ajout_fiche" class="button">Ajouter Fiche</a>
    </div>
    <div class="button-container">
        <a href="/fiche/modifier/1" class="button">Modifier fiche</a>
    </div>
    <div class="button-container">
        <a href="/fiche/liste_fiche" class="button">Liste des fiches</a>
    </div>

</body>

</html>