<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Redirections</title>
    <style>
        .button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .button-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .button-container div {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h2>Liste des Redirections</h2>
    
    <div class="button-container">
        <a href="/ajout_apprenti" class="button">Ajouter Apprenti</a>
    </div>
    <div class="button-container">
        <a href="/ajout_fiche" class="button">Ajouter Fiche</a>
    </div>
    <div class="button-container">
        <a href="/" class="button">Accueil</a>
    </div>
    <div class="button-container">
        <a href="/accueil_admin" class="button">Accueil Admin</a>
    </div>
    <div class="button-container">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Déconnexion</button>
        </form>
    </div>
    
    <div class="button-container">
        <a href="/select_fiche" class="button">Sélectionner Fiche</a>
    </div>
    <div class="button-container">
        <a href="/suivi_progression" class="button">Suivi de Progression</a>
        <div>Commentaire : Il faut que le timecode de fin s'affiche pour l'audio. </div>
    </div>
    <div class="button-container">
        <a href="/index" class="button">Index</a>
    </div>
    <div class="button-container">
        <a href="/fiche/1" class="button">Fiche1</a>
    </div>
    <div class="button-container">
        <a href="/mdp_oublie" class="button">Mot de Passe Oublié</a>
    </div>
    <div class="button-container">
        <a href="/record" class="button">Record</a>
    </div>
    <div class="button-container">
        <a href="/recordaffichage" class="button">Record Affichage</a>
    </div>
    

    <!-- Ajouter d'autres boutons et commentaires selon les besoins -->
    
</body>
</html>
