<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil apprenti</title>
    <!-- Ajoutez les liens vers les fichiers CSS Bootstrap ici -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/accueil.css" rel="stylesheet" />
    <!-- Ajoutez les liens vers les fichiers JavaScript Bootstrap et jQuery ici -->
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>   
</head>
<body>
    <div th:replace="fragments/header :: header"></div>


    <div class="container mt-5">
        <h2>Profil de : <span th:text="${utilisateur.nom}"></span> <span th:text="${utilisateur.prenom}"></span></h2>
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-text"><strong>Login: </strong> <span th:text="${utilisateur.login}"></span></p>
                <p class="card-text"><strong>Photo: </strong></p>
                <img th:src="${utilisateur.photoBase64}" alt="Photo de l'utilisateur" class="img-fluid rounded" style="max-width: 200px; max-height: 200px;">
                <p th:if="${utilisateur.description != null and not #strings.isEmpty(utilisateur.description)}" class="mt-3">
                    <strong>Description: </strong><span th:text="${utilisateur.description}"></span>
                </p>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
