<!DOCTYPE html>
<div lang="fr" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Ajoutez les liens vers les fichiers CSS Bootstrap ici -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/accueil.css" rel="stylesheet" />
        <!-- Ajoutez les liens vers les fichiers JavaScript Bootstrap et jQuery ici -->
        <script src="/js/jquery-3.2.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <style>

            .small-btn {
                padding: 0.2rem 0.5rem;
                font-size: 0.8rem;
            }

            .small-img {
                max-width: 40px;
                max-height: 40px;
            }
        </style>

        <title>Profil apprenti</title>

    </head>

    <body>
        <div>
            <div th:replace="fragments/header :: header"></div>

            <div class="encadre p-4 bg-light">
                <div class="container mt-5">
                    <h2>Profil de : <span th:text="${utilisateur.nom}"></span> <span
                            th:text="${utilisateur.prenom}"></span></h2>
                    <div class="card mt-3">
                        <div class="card-body">
                            <p class="card-text"><strong>Login: </strong> <span th:text="${utilisateur.login}"></span>
                            </p>
                            <p class="card-text"><strong>Photo: </strong></p>
                            <img th:src="${utilisateur.photoBase64}" alt="Photo de l'utilisateur"
                                class="img-fluid rounded" style="max-width: 200px; max-height: 200px;">
                            <p th:if="${utilisateur.description != null and not #strings.isEmpty(utilisateur.description)}"
                                class="mt-3">
                                <strong>Description: </strong><span th:text="${utilisateur.description}"></span>
                            </p>

                            <div class="text-center">
                                <div class="modifier">
                                    <a th:if="${utilisateurConnecteRole == 'ROLE_SUPERADMIN'}"
                                        th:href="@{'/modif/' + ${utilisateur.id}}" class="btn btn-primary small-btn">
                                        <img src="/images/modif.png" alt="Modifier un apprenti"
                                            class="modifimg me-2 small-img" />
                                        Modifier profil
                                    </a>

                                    <a th:if="${utilisateurConnecteRole == 'ROLE_SUPERADMIN'}"
                                        th:href="@{/utilisateur/excel/{userId}(userId=${utilisateur.id})}"
                                        class="btn btn-danger small-btn">
                                        <img src="/images/archive.png" alt="Archiver un apprenti"
                                            class="archiveimg me-2 small-img" />
                                        Archiver le profil
                                    </a>

                                    <!-- S'affiche que si on est en admin -->
                                    <a th:if="${utilisateurConnecteRole == 'ROLE_ADMIN'}"
                                        th:href="@{/ajoutfiche/{id}(id=${utilisateur.id})}"
                                        class="btn btn-outline-primary small-btn">
                                        <img src="/images/plus.png" alt="Ajouter une fiche"
                                            class="modifimg me-2 small-img" />
                                        Ajouter une fiche
                                    </a>

                                    <a th:if="${utilisateurConnecteRole == 'ROLE_ADMIN' or utilisateurConnecteRole == 'ROLE_CIP' or utilisateurConnecteRole == 'ROLE_EDUCSIMPLE'}"
                                        th:href="@{'/fiche/liste_fiche_id/' + ${utilisateur.id}}" class="btn btn-outline-primary small-btn">
                                        <img src="/images/yeux.png" alt="Voir fiche" class="modifimg me-2 small-img" />
                                        Voir ses fiches
                                    </a>
                                    <!-- S'affiche que si on est en cip -->
                                    <a th:if="${utilisateurConnecteRole == 'ROLE_CIP'}"
                                        th:href="@{'/suivi_progression/' + ${utilisateur.id}}"
                                        class="btn btn-outline-primary small-btn">
                                        <img src="/images/yeux.png" alt="Suivi parcours"
                                            class="modifimg me-2 small-img" />
                                        Suivi parcours
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </body>

    </html>