<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploader un Audio</title>
</head>
<body>
    <h1>Uploader un Audio</h1>

    <form th:action="@{/fiche/enregistrerAudio}" method="post" enctype="multipart/form-data">
        <label for="ficheId">ID de la Fiche:</label>
        <input type="text" id="ficheId" name="ficheId" th:required="true">
        <br>
        <label for="audioFile">Fichier Audio:</label>
        <input type="file" id="audioFile" name="audioFile" accept="audio/*" th:required="true">
        <br>
        <button type="submit">Uploader l'Audio</button>
    </form>
</body>
</html>
