<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Écouter les Audios Enregistrés</title>
</head>
<body>
    <h1>Écouter les Audios Enregistrés de <span th:text="${utilisateur.prenom}"></span> <span th:text="${utilisateur.nom}"></span></h1>

    <!-- Boucle Thymeleaf pour chaque fiche d'intervention -->
    <div th:each="fiche : ${fiches}">
        <h2 th:text="'Évaluation pour la fiche ' + ${fiche.id}"></h2>
        <audio controls th:src="@{/fiche/evaluation/{id}(id=${fiche.id})}"></audio>
    </div>

</body>
</html>