<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images Materiaux Amenagement</title>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="icon" type="image/vnd.icon" href="/images/cercle.ico">

    <style>
        .max-width-10vh img {
            max-width: 10vh;
        }

        .succes {
            color: green;
            font-size: 1.5em;
        }

        .error {
            color: red;
            font-size: 1.5em;
        }
    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function editImage(imageId) {
            // Afficher le formulaire d'édition
            document.getElementById('editForm').style.display = 'block';

            // Mettre à jour l'action du formulaire avec l'ID de l'image
            var editForm = document.getElementById('editForm');
            editForm.action = /*[[@{/materiaux/modifier/}]]*/ + imageId;

            // Récupérer les détails de l'image sélectionnée et mettre à jour le formulaire
            var imageDetails = document.getElementById('imageDetails_' + imageId);
            document.getElementById('nomImage').value = imageDetails.getAttribute('data-nomImage');
            document.getElementById('currentImageData').src = imageDetails.getAttribute('data-imageData');
        }

        function handleFileSelect(input) {
            var file = input.files[0];
            /*<![CDATA[*/
            var maxFileSize = [[${ maxFileSize }]];
            /*]]>*/

            // Vérifier si la taille de l'image ne dépasse pas la limite
            var isFileSizeValid = file.size <= maxFileSize;

            // Cacher le bouton Uploader si la taille de l'image est trop grande
            document.getElementById('uploadButton').disabled = !isFileSizeValid;

            // Afficher une alerte si la taille n'est pas valide
            if (!isFileSizeValid) {
                alert('La taille du fichier dépasse la limite autorisée (' + (maxFileSize / 1024 / 1024) + ' Mo). Veuillez sélectionner un fichier plus petit.');
            }
        }

        // Afficher le bouton Uploader au chargement de la page
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('uploadButton').style.display = 'block';
        });
        /*]]>*/
    </script>

</head>

<body>

    <div th:replace="fragments/header :: header"></div>


    <div class="container mt-4">

        <button onclick="window.location.href='/materiaux/liste'" class="btn btn-primary mb-3">Liste des
            materiaux</button>
        <h2>Ajouter un Materiaux d'Amenagement</h2>

        <form th:action="@{/materiaux/uploadMateriaux}" method="post" enctype="multipart/form-data"
            th:object="${materiau}" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="nomImage" class="form-label">Nom du materiau :</label>
                <input type="text" id="nomImage" name="nomImage" th:field="*{nomImage}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="typeIntervention" class="form-label">Type d'intervention :</label>
                <select id="typeIntervention" name="typeIntervention" th:field="*{typeIntervention}" class="form-select"
                    required>
                    <option
                        th:each="type : ${T(com.webapp.ytb.webappytp.modele.ElementsFiche.Intervention.TypeIntervention).values()}"
                        th:value="${type.name()}" th:text="${type.name()}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="imageFile" class="form-label">Fichier Image :</label>
                <input type="file" id="imageFile" name="imageFile" accept="image/*" class="form-control" required
                    onchange="handleFileSelect(this)">
            </div>

            <!-- Afficher un message si l'image est enregistrée avec succès -->
            <p class="succes" th:if="${message}" th:text="${message}" style="color: green;"></p>

            <!-- Afficher un message d'erreur si l'enregistrement de l'image échoue -->
            <p class="error" th:if="${error}" th:text="${error}" style="color: red;"></p>

            <!-- Afficher le bouton Uploader -->
            <button type="submit" id="uploadButton" class="btn btn-primary">Ajouter</button>
        </form>

    </div>

</body>

</html>